# use Docker-based container (instead of OpenVZ)
sudo: false

cache:
  directories:
    - $HOME/.m2/repository
    - $HOME/.sbt
    - $HOME/.ivy2

language: scala

scala:
   - 2.12.6

jdk:
  - oraclejdk8

script: "sbt clean coverage 'testOnly -- xonly timefactor 2' coverageReport"
after_success:
  - bash <(curl -s https://codecov.io/bash)
