body.gallery{
    background-color: #303030;
}

.table-striped-dark tbody>tr:nth-child(odd)>td,.table-striped-dark tbody>tr:nth-child(odd)>th{background-color:#696969;}
.table-striped-dark {color:#CCCCCC;}

.navbar-inverse .nav .active .active-selected> a {
    color : #5bf75b;
}
.navbar-inverse .nav .selected> a {
    color : #5bc75b;
}
.navbar-inverse .nav .active .active-rejected> a {
    color : #f75b5b;
}
.navbar-inverse .nav .rejected> a {
    color : #c75b5b;
}


ul.gallery {
    margin: 2px;
    padding: 2px;
    display: block;
}

ul.gallery, li.gallerybox {
    zoom: 1;
}

li.gallerybox {
    vertical-align: top;
    display: -moz-inline-box;
    display: inline-block;
}

li.gallerybox div.thumb {
    text-align: center;
    margin: 5px;
    width: 305px;
    height: 205px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

li.gallerybox div.thumb_small {
      text-align: center;
      margin: 5px;
      width: 160px;
      height: 120px;
      position: relative;
      margin-left: auto;
      margin-right: auto;
      overflow: hidden;
  }

.current {
     background-color: #111
 }

/*.selected {*/
    /*border-style:solid;*/
    /*border-color:#5bc75b;*/
    /*border-width:5px;*/
/*}*/

div.img-container {
    width: 390px;
    height: 211px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
img.cropped {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


body {
    font-family: helvetica;
    color: #333;
    background: #CCC;
}

#chat {
    min-height: 200px;
    right: 10px;
    left: 30px;
    background: #AAA;
    max-width: 850px;
    width: 100%;
    height:600px;
    overflow: scroll;
}

.msg {
    padding: 10px;
    width: 100%;
    background: #FF9966;
}

.others {
    background: #EEE;
}

.juliet {
    background: #FF69B4;
}

#textField {
    width: 800px;
    position: relative;
    top: 4px;
}

#userField {
    width: 210px;
    position: relative;
    top: 1px;
}

#header {
    color: #EEE;
    width: 500px;
    height: 40px;
    font-weight: bold;
    padding: 10px;
    background: #303030;
}

#footer {
    color: #EEE;
    width: 500px;
    height: 60px;
    font-weight: bold;
    padding: 10px;
    background: #303030;
}

#roomSelect {

}

.undo {
    padding: 20px 0;
}
