@(title: String,
        user: org.intracer.wmua.User = null,
asUserId: Int = 0,
asUser: org.intracer.wmua.User = null,
messages:Seq[play.api.libs.json.JsValue],
allFiles: Seq[org.intracer.wmua.ImageWithRating] = Seq.empty,
currentRounds: Seq[org.intracer.wmua.Round] = Seq.empty,
gallery: Boolean = false,
rate: Option[Int] = None,
region: String = "all",
    //        menu: Html = Html.empty,
pager: Html = Html.empty)(implicit lang: Lang)


<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">


        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

        <script>
            var username = '@user.fullname';
            var userId = @user.id;
            var round = @currentRounds.head.id;
            var messages = @Html(messages.map(m => m.toString()).mkString("[",", ","]"));
        </script>
        <script src="/assets/js/vendor/eventsource.js"></script>

        <script src="@routes.WebJarAssets.at(WebJarAssets.locate("angular.min.js"))"></script>
        <script src="@routes.Assets.at("javascripts/app.js")"></script>
        <script src="@routes.Assets.at("javascripts/services.js")"></script>
        <script src="@routes.Assets.at("javascripts/controllers.js")"></script>

        <script>
        $(window).load(function() {
            var objDiv = document.getElementById("chat");
            objDiv.scrollTop = objDiv.scrollHeight;
        }
        )
        </script>

    </head>
    <body ng-app="sseChat" @if(gallery) {class="gallery"}>

       @navbar(title, user, asUserId, asUser, allFiles, currentRounds, gallery, rate, region, pager)

       <div class="container-fluid" style="margin-left : 0px ; margin-right : 0px">

         <div class="row" >

        <div ng-controller="ChatCtrl">
            <div id="header">
                <div>
                 <input disabled="true" type="text" name="user" id="userField" value="@user.fullname" ng-model="user" />
                 <input disabled="true" type="text" name="userId" id="userIdField" value="@user.id" ng-model="userId" />
                </div>
<!--                <select ng-model="currentRoom" ng-change="setCurrentRoom(currentRoom)" class="input-xlarge"
                ng-options="r.name for r in rooms" id="roomSelect"></select>                                    -->
            </div>

            <div id="chat">
                <div class="{{msg.who}} msg" ng-repeat="msg in msgs"
                ng-class="msg.user !== user ? 'others' : ''"> <!-- {{msg.createdAt}}<br/> -->
                    <div ng-if="{{msg.room > 1}} ">
                        <a href="large/round/34/user/@asUserId/pageid/{{msg.room}}?module=byrate">
                            <i class="icon-picture"></i>
                        </a>
                    </div>
                    <strong>{{msg.username}}: </strong>{{msg.body}}<br/>
                </div>
            </div>

            @if(user.roles.intersect(Set(org.intracer.wmua.User.ADMIN_ROLE, "jury")).nonEmpty) {
                <div id="footer">
                    <form ng-submit="submitMsg()">
                        <textarea name="chat" id="textField" ng-model="inputText" rows="3"
                        placeholder="" class="ng-pristine ng-valid" ></textarea>
                        <input type="button" class="btn btn-primary" id="saySomething" value="Submit" ng-click="submitMsg()" />
                    </form>
                </div>
            }
        </div>
        </div>
        </div>
    </body>
</html>