@import org.scalawiki.wlx.dto.Contest
@import org.scalawiki.wlx.dto.ContestType
@import org.scalawiki.wlx.dto.NoAdmDivision
@import org.intracer.wmua.ContestJury
@(contests: Seq[ContestJury])

<table class="table table-striped table-condensed">
    @for(contestType <- contests.map(_.name).distinct.sorted) {
        <tr>
            <td>@contestType</td>
            @for(year <- contests.map(_.year).distinct.sorted) {
                @if(contests.exists(c => c.name == contestType && c.year == year)) {
                    <td><a href="@routes.Contests.list(Some(contestType), Some(year))">@year</a></td>
                } else {
                    <td></td>
                }
            }

        </tr>
    }

    <!-- @if(contests.map(_.country).distinct != Nil) {
        @for(contest <- contests.sortBy(_.country)) {
            <tr>
                <td>
                    <a href="@routes.Contests.list(Some(contest.name), Some(contest.year), Some(contest.country))">
                    @contest.country
                    </a>
                </td>
            </tr>
        }
    } -->

</table>