@(importImagesForm: Form[(String, String, String)],
        contest: org.intracer.wmua.ContestJury,
        user: db.scalikejdbc.User,
        sourceImages: Long,
        dbImages: Long,
        inProgress: Boolean = false
)(implicit flash: Flash, lang: Lang, messages: Messages, req: RequestHeader)
    @import helper._
    @import b3.vertical.fieldConstructor

    @mainAdmin(Messages("contest.images"), user, user.getId, contestId = contest.id) {
        <h3>@Messages("contest") @contest.fullName</h3>
        @b3.vertical.form(routes.ImagesController.importImages(contest.getId), 'id -> "import-images") { implicit vfc =>
            @helper.CSRF.formField

            <h4>@Messages("images.source")</h4>

            @b3.text(importImagesForm("source"), '_label -> "commons.category.or.page.with.images")

            @b3.textarea(importImagesForm("list"), '_label -> "or.image.list", 'rows -> 10 )

            @if(contest.images.isDefined) {
                @Messages("images.on.commons"): <a id="commonscat" href="https://commons.wikimedia.org/wiki/@contest.images.get">@sourceImages</a>
            }
            <br>
            @Messages("images.in.database"): @dbImages (<a href="/thumb_urls/@contest.id">@Messages("thumbnail.urls")</a>)

            <div>
                <button type="submit" id="import-btn" class="btn btn-primary" name="action" value="import.images">
                    @Messages("import.images")
                </button>
                @if(contest.monumentIdTemplate.isDefined) {
                    <button type="submit" id="update-monuments-btn" class="btn btn-primary" name="action" value="update.monuments">
                        @Messages("update.monuments")
                    </button>
                }
            </div>
        }
    }