@import org.intracer.wmua.User
@(
        user: org.intracer.wmua.User,
        contests: Seq[org.intracer.wmua.ContestJury],
        filtered: Seq[org.intracer.wmua.ContestJury],
        editContestForm: Form[org.intracer.wmua.ContestJury],
        importForm: Form[String],
        contestType: Option[String] = None,
        year: Option[Int] = None
)(implicit flash: Flash, lang: Lang, messages: Messages, req: RequestHeader)
@import helper._
@import b3.vertical.fieldConstructor

@mainAdmin(Messages("campaigns"), user, user.getId) {
    <div class="row" xmlns="http://www.w3.org/1999/html">

        <h3>@Messages("import.from.list.page.images.category")</h3>
        <div class="bs-callout bs-callout-info">
            <h4>@Messages("examples.of.inputs")</h4>
            <p>
                <ul>
                    <li>Category:Images from Wiki Loves Earth 2016
                    <li>Commons:Wiki Loves Monuments 2016/Participating countries
                    <li>Commons:Wiki Loves Earth 2016
                </ul>
        </div>
        @b3.form(routes.Contests.importContests, 'id -> "import-contests") {
            @helper.CSRF.formField
            @b3.text(importForm("source"), 'placeholder -> Messages("source"), '_label -> Messages("source"), '_help -> "")

            <div class="btn btn-primary" onClick="document.forms['import-contests'].submit();">
            @Messages("import")
            </div>
        }
    </div>
    <div class="row" >
        <h3>@Messages("campaigns")</h3>

        @contestsTable(contests)

        <table class="table table-striped table-condensed" style="background-color: #CCCCCC;">

            <thead>
                <tr>
                    <th>@Messages("name")</th>
                    <th>@Messages("country")</th>
                    <th>@Messages("year")</th>
                    <th>@Messages("images")</th>
                    <th>@Messages("users")</th>
                    <th>@Messages("current.round")</th>
                    <th>@Messages("id.template")</th>
                </tr>
            </thead>

            <tbody>

                @if(user.hasRole(User.ROOT_ROLE)) {
                    @form(routes.Contests.saveContest, 'class -> "form-vertical", 'id -> "add-contest") {
                        @helper.CSRF.formField
                        <tr>
                            @if(editContestForm.hasGlobalErrors) {
                                <p class="error">
                                    <span class="label important">@Messages(editContestForm.errors.head.message)</span>
                                </p>
                            }

                            <td>
                                <input type="hidden" name="id" id="id" value="0" />
                                @inputText(editContestForm("name"), 'placeholder -> Messages("Name"), '_label -> null, '_help -> "")
                            </td>
                            <td>
                            @inputText(editContestForm("country"), 'placeholder -> Messages("country"), '_label -> null, '_help -> "")
                            </td>
                            <td>
                            @inputText(editContestForm("year"), 'placeholder -> Messages("year"), '_label -> null, '_help -> "")
                            </td>
                            <td>
                            @inputText(editContestForm("images"), 'placeholder -> Messages("images"), '_label -> null, '_help -> "")
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            @inputText(editContestForm("monumentIdTemplate"), 'placeholder -> Messages("id.template"), '_label -> null, '_help -> "")
                            </td>
                            <td>
                                <div class="btn btn-primary" onClick="document.forms['add-contest'].submit();">
                                @Messages("add")
                                </div>
                            </td>
                        </tr>
                    }
                }

                @for(contest <- filtered) {
                    <tr>
                        <td>@Messages(contest.name)</td>
                        <td>@Messages(contest.country)</td>
                        <td>@contest.year</td>
                        <td>
                            <a href="@routes.Contests.images(contest.getId)">@contest.images </a>
                        </td>
                        <td>
                            <a href="@routes.Admin.users(contest.id)">
                                <button type="button" class="btn btn-default btn-xs">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                </button>
                            </a>
                        </td>
                        <td>@contest.currentRound
                        <a href="@routes.Rounds.rounds(contest.id)">
                            <button type="button" class="btn btn-default btn-xs">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            </button>
                        </a>
                        </td>
                        <td>@contest.monumentIdTemplate.getOrElse("")</td>
                        <td>
                    </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}


