@(dto: UiSelectionDto[Any], iconOnly: Boolean = false)(implicit lang: Lang, messages: Messages)
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" href="#">
        @dto.current.icon.fold(Html(dto.current.localizedText)) { iconClass =>
                <span class="glyphicon glyphicon-@iconClass" style="font-size: 12px"></span>
        }
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
        @for((id, value) <- dto.optValues) {
            <li>
                <a href="@dto.call(id)">
                    @value.icon.map { iconClass =>
                        <span class="glyphicon glyphicon-@iconClass" style="font-size: 12px" aria-hidden="true"></span>
                    }
                    @value.localizedText
                </a>
            </li>
        }
    </ul>
</li>