@import db.scalikejdbc.User
@import org.intracer.wmua.Image
@import db.scalikejdbc.Round
@(
        user: User,
        editRoundForm: Form[controllers.EditRound],
        newRound: Boolean = false,
        rounds: Seq[Round],
        contestId: Option[Long] = None,
        jurors: Seq[User],
        jurorsMapping: Mapping[Seq[String]],
        regions: Map[String, String] = Map.empty,
        statOpt: Option[RoundStat] = None,
        newImages: Seq[Image] = Seq.empty
)(implicit flash: Flash, messages: Messages, req: RequestHeader)

@implicitFieldConstructor = @{
    b3.horizontal.fieldConstructor("col-md-4", "col-md-8")
}
@import helper._

@mainAdmin(Messages("edit.round"), user, user.getId, contestId = contestId) {
    <div class="row" >
        <div class="col-md-8">


            @if(newRound) {
                <h3>@Messages("create.round")</h3>
            } else {
                <h3>@Messages("edit.round")</h3>
            }

            @b3.form(routes.RoundController.saveRound()) {
                @helper.CSRF.formField

                @snippets.formError(editRoundForm)

                <fieldset>
                    <input type="hidden" id="id" name="id" value='@editRoundForm("id").value' />
                    <input type="hidden" name="contest" id="contest" value='@editRoundForm("contest").value' />
                    <input type="hidden" name="number" id="number" value='@editRoundForm("number").value' />
                    <input type="hidden" name="roles" id="roles" value='jury' />

                    @b3.text(editRoundForm("name"), Symbol("_label") -> Messages("round.name.optional"))

                    @defining(!newRound) { noEdit =>
                        @round.edit.imageFiltering(editRoundForm, rounds, regions, user, noEdit)

                        <div @if(noEdit) {style="display: none"}>
                            @b3.select(
                                editRoundForm("jurors"),
                                jurors.map(u => (u.getId.toString, u.description)),
                                Symbol("_label") -> Messages("jurors"), Symbol("multiple") -> true, Symbol("readonly") -> noEdit)
                        </div>

                        @if(!newRound) {
                            @snippets.collapsible("jurors", "headingJurors", "collapseJurors") {
                                @statOpt.map { stat =>
                                    @roundStatTable(user, stat.round, stat)
                                }
                            }
                        }

                    @defining(jurorsMapping.bind(editRoundForm.data).getOrElse(Nil).size) { numJurors =>
                        @b3.select(editRoundForm("distribution"),
                            Seq(("0", Messages("each.file.to.all.jurors"))) ++
                                    (1 until numJurors).map(x => (x.toString, Messages("each.file.to.i.juror.s", x))),
                            Symbol("_label") -> Messages("file.distribution"),
                            Symbol("readonly") -> (noEdit || numJurors == 0))

                        @b3.select(
                            editRoundForm("rates"),
                            Round.rates.map(x => (x.id.toString, if(x.id == 1) x.name else Messages("1-x.rating", x.id))),
                            Symbol("_label") -> Messages("rating.type"), Symbol("readonly") -> noEdit)

                        @if(!newRound) {
                            @b3.checkbox(field = editRoundForm("newImages"),
                                Symbol("_label") -> Messages("distribute.x.new.files", newImages.size),
                                Symbol("readonly") -> (numJurors == 0 || newImages.isEmpty))
                        }
                    }
                    }
                </fieldset>

                <div class="form-actions" style="margin-top: 10px">
                    @snippets.submit("save")
                    @snippets.button(routes.RoundController.rounds(editRoundForm("contest").value.map(_.toLong)), "cancel")
                </div>
            </div>

    </div>
}
}