@(user: org.intracer.wmua.User, editRoundForm: Form[org.intracer.wmua.Round], round: org.intracer.wmua.Round)(implicit flash: Flash, lang: Lang)
@import org.intracer.wmua.Selection

@import helper._
@import org.intracer.wmua.Round


@main(Messages("edit round"), user, user.id.toInt) {
    <div class="row-fluid" >

        @if(editRoundForm("id").value != Some("0")) {
            <h3>@Messages("Edit round")</h3>
        } else {
            <h3>@Messages("Create round")</h3>
        }

@form(routes.Admin.saveRound, 'class -> "form-vertical") {

    @if(editRoundForm.hasGlobalErrors) {
        <p class="error">
            <span class="label important">@Messages(editRoundForm.errors.head.message)</span>
        </p>
    }

    <fieldset>
        <input type="hidden" id="id" name="id" value='@editRoundForm("id").value' />
        <input type="hidden" name="contest" id="contest" value='@editRoundForm("contest").value' />
        <input type="hidden" name="number" id="number" value='@editRoundForm("number").value' />

        @inputText(editRoundForm("name"),'placeholder -> Messages("Name"),'_label -> Messages("Name"),'_help -> "")

        @select(editRoundForm("roles"), Seq("jury", "organizer").map(x => (x,x)), '_label -> "Jury role", '_help -> "")

        @select(editRoundForm("distribution"),
            (0 to 2).map(x => (x.toString,
                    Seq("Each image to all jurors", "Each image to 1 juror", "Each image to 2 jurors")(x))),
            '_label -> "Image distribution", '_help -> "")

        @select(editRoundForm("rates"), Round.rates.map(x => (x.id.toString,x.name)), '_label -> "Selection type", '_help -> "")

<!--
        @select(editRoundForm("limitMin"), (1 to 50).map(x => (x.toString,x.toString)), '_label -> "Min selected", '_help -> "")

        @select(editRoundForm("limitMax"), (1 to 50).map(x => (x.toString,x.toString)), '_label -> "Max selected", '_help -> "")

        @select(editRoundForm("recommended"), (1 to 50).map(x => (x.toString,x.toString)), '_label -> "Recommended selected", '_help -> "")  -->

    </fieldset>

    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="@Messages("Save")">
        <a href="/admin/rounds" class="btn">@Messages("Cancel")</a>
    </div>

    </div>
}
}