@import org.intracer.wmua.Round
@import org.intracer.wmua.User
@import org.intracer.wmua.Image

@(
        user: User,
        editRoundForm: Form[controllers.EditRound],
        newRound: Boolean = false,
        rounds: Seq[Round],
        contestId: Option[Long] = None,
        jurors: Seq[User],
        jurorsMapping: Mapping[Seq[String]],
        regions: Map[String, String] = Map.empty,
        statOpt: Option[RoundStat] = None,
        newImages: Seq[Image] = Seq.empty
)(implicit flash: Flash, lang: Lang, messages: Messages, req: RequestHeader)

@implicitFieldConstructor = @{
    b3.horizontal.fieldConstructor("col-md-4", "col-md-8")
}
@import helper._

@mainAdmin(Messages("edit.round"), user, user.getId, contestId = contestId) {
    <div class="row" >
        <div class="col-md-8">


            @if(newRound) {
                <h3>@Messages("create.round")</h3>
            } else {
                <h3>@Messages("edit.round")</h3>
            }

            @b3.form(routes.Rounds.saveRound) {
                @helper.CSRF.formField

                @if(editRoundForm.hasGlobalErrors) {
                    <p class="error">
                        <span class="label important">@Messages(editRoundForm.errors.head.message)</span>
                    </p>
                }

                <fieldset>
                    <input type="hidden" id="id" name="id" value='@editRoundForm("id").value' />
                    <input type="hidden" name="contest" id="contest" value='@editRoundForm("contest").value' />
                    <input type="hidden" name="number" id="number" value='@editRoundForm("number").value' />
                    <input type="hidden" name="roles" id="roles" value='jury' />

                    @b3.text(editRoundForm("round.name"), '_label -> Messages("round.name.optional"))

                    @defining(!newRound) { noEdit =>

                        <div class="panel panel-default">
                            <div class="panel-heading" id="headingImageFiltering">
                                <a role="button" data-toggle="collapse" href="#collapseImageFiltering" aria-expanded="false" aria-controls="collapseImageFiltering">
                                    <h3 class="panel-title">@Messages("image.filtering")</h3>
                                </a>
                            </div>

                            <div id="collapseImageFiltering" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingImageFiltering">
                                <div class="panel-body">
                                    @if(rounds.nonEmpty) {
                                        @b3.select(editRoundForm("previousRound"), ("" -> Messages("no")) +: rounds.map(r => (r.id.map(_.toString).get, r.description)),
                                            '_label -> Messages("previous.round"), '_help -> "", 'class -> "form-control", 'readonly -> noEdit)

                                        <div id="prevRoundFilters" @if(editRoundForm("previousRound").value.isEmpty) {
                                            style="display: none"}>
                                            <div id="selectFilters" class="@rounds.filter(_.isBinary).map(r => "round" + r.getId).mkString(" ")">
                                            @b3.select(
                                                editRoundForm("minJurors"),
                                                Seq("0", "1", "2", "3", "4", "5", "6").map(x => (x, x)),
                                                '_label -> Messages("selected.by.at.least.x.jurors"), 'readonly -> noEdit)
                                            </div>

                                            <div id="rateFilters" class="@rounds.filterNot(_.isBinary).map(r => "round" + r.getId).mkString(" ")">
                                            @b3.select(
                                                editRoundForm("minAvgRate"),
                                                Seq("" -> Messages("no")) ++ (0 to 20).map(x => (x.toString, x.toString)),
                                                '_label -> Messages("average.image.rating.is.at.least"), 'readonly -> noEdit)
                                            </div>

                                            @for(topImages <- editRoundForm("topImages").value) {
                                                @b3.text(editRoundForm("topImages"), '_label -> Messages("top.images"))
                                            }
                                        </div>
                                    }

                                    <div id="categoryDiv">
                                    @b3.text(editRoundForm("source"), '_label -> Messages("images.should.be.IN.the.category"), 'readonly -> noEdit)
                                    </div>

                                    <div id="categoryDiv">
                                    @b3.text(editRoundForm("excludeCategory"), '_label -> Messages("images.should.be.NOT.IN.the.category"), 'readonly -> noEdit)
                                    </div>

                                    @if(regions.nonEmpty) {
                                        @b3.select(
                                            editRoundForm("regions"),
                                            regions.map { case (k, v) => (k, Messages(k)) }.toSeq.sortBy(_._1),
                                            '_label -> Messages("regions"), 'multiple -> true, 'readonly -> noEdit)

                                        @b3.text(
                                            editRoundForm("monumentIds"),
                                            '_label -> Messages("monument.ids.comma.separated"), 'readonly -> noEdit)
                                    }

                                    @b3.select(
                                        editRoundForm("minMpx"),
                                        Seq("No", "1", "2").map(x => (x, Messages(x.toLowerCase))),
                                        '_label -> Messages("minimum.megapixels"), 'readonly -> noEdit)

                                    @b3.select(
                                        editRoundForm("minSize"),
                                        Seq("No", "1", "2").map(x => (x, Messages(x.toLowerCase))),
                                        '_label -> Messages("minimum.megabytes"), 'readonly -> noEdit)

                                </div>
                            </div>
                        </div>

                        <div @if(noEdit) {
                            style="display: none"}>
                        @b3.select(
                            editRoundForm("jurors"),
                            jurors.map(u => (u.getId.toString, u.description)).sortBy(_._2),
                            '_label -> Messages("jurors"), 'multiple -> true, 'readonly -> noEdit)
                        </div>
                    @if(!newRound) {

                        <div class="panel panel-default">
                            <div class="panel-heading" id="headingJurors">
                                <a role="button" data-toggle="collapse" href="#collapseJurors" aria-expanded="false" aria-controls="collapseJurors">
                                    <h3 class="panel-title">@Messages("jurors")</h3>
                                </a>
                            </div>

                            <div id="collapseJurors" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingJurors">
                                <div class="panel-body">

                                @statOpt.map { stat =>
                                    @roundStatTable(user, stat.round, stat)
                                }
                                </div>
                            </div>
                        </div>
                    }

                    @defining(jurorsMapping.bind(editRoundForm.data).right.getOrElse(Seq.empty).size) { numJurors =>
                        @b3.select(editRoundForm("distribution"),
                            Seq(("0", Messages("each.image.to.all.jurors"))) ++
                                    (1 until numJurors).map(x => (x.toString, Messages("each.image.to.i.juror.s", x))),
                            '_label -> Messages("image.distribution"),
                            'readonly -> (noEdit || numJurors == 0))

                        @b3.select(
                            editRoundForm("rates"),
                            Round.rates.map(x => (x.id.toString, if(x.id == 1) x.name else Messages("1-x.rating", x.id))),
                            '_label -> Messages("rating.type"), 'readonly -> noEdit)

                        @if(!newRound) {
                            @b3.checkbox(field = editRoundForm("newImages"),
                                '_label -> Messages("distribute.x.new.images", newImages.size),
                                'readonly -> (numJurors == 0 || newImages.isEmpty))
                        }
                    }
                    }
                </fieldset>

                <div class="form-actions" style="margin-top: 10px">
                    <input type="submit" class="btn btn-primary btn-default" style="width: 25%;
                        margin-right: 10px" value="@Messages("save")">
                    <a href="@routes.Rounds.rounds(editRoundForm("contest").value.map(_.toLong))">
                        <button type="button" class="btn btn-default" style="width: 25%;" >@Messages("cancel")</button>
                    </a>
                </div>
            </div>

    </div>
}
}