@(user: org.intracer.wmua.User, editUserForm: Form[org.intracer.wmua.User],round: org.intracer.wmua.Round)(implicit flash: Flash, lang: Lang)

@import helper._
@import org.intracer.wmua.User
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render(_, lang)) }


@main(Messages("edit user"), user, user.id.toInt) {
    <div class="row-fluid" >

        @if(editUserForm("id").value != Some("0")) {
            <h3>@Messages("Edit user")</h3>
        } else {
            <h3>@Messages("Create user")</h3>
        }

@form(routes.Admin.saveUser, 'class -> "form-vertical") {

    @if(editUserForm.hasGlobalErrors) {
        <p class="error">
            <span class="label important">@Messages(editUserForm.errors.head.message)</span>
        </p>
    }

    <fieldset>
        <input type="hidden" id="id" name="id" value='@editUserForm("id").value' />
        <input type="hidden" name="contest" id="contest" value='@editUserForm("contest").value' />
        @inputText(
            editUserForm("fullname"),
            'placeholder -> Messages("Name"),
            '_label -> Messages("Name"),
            '_help -> ""
        )
        @inputText(
            editUserForm("email"),
            'placeholder -> Messages("Email"),
            '_label -> Messages("Email"),
            '_help -> ""
        )

         @select(editUserForm("roles"), Seq("no", "jury", "admin").map(x => (x,x)),
             Seq('_label -> Messages("Role"), '_help -> "") ++
                     (if(!user.roles.contains("admin")) Seq('disabled -> "true") else Seq.empty):_* )

        @select(editUserForm("lang"), Seq("en", "ru", "uk" ).map(x => (x, User.LANGS(x))),
            '_label -> Messages("Language"), '_help -> "" )

        @if(Some(user.id.toString) == editUserForm("id").value) {
        @inputPassword(
            editUserForm("password"),
            '_label -> "Password",
            'placeholder -> "",
            '_help -> ""
        )
        } else {
            @if(editUserForm("id").value != Some("0")) {
                @flash.get("password-reset").map { msg =>
                    <div class="alert alert-success">@msg</div>
                }

                <a href="#" class="btn" onclick="document.forms['reset-password'].submit();">@Messages("Reset password")</a>
            }
        }

    </fieldset>

    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="@Messages("Save")">
        <a href="/admin/users" class="btn">@Messages("Cancel")</a>
    </div>
}

        <div style="display:none;">
        @form(routes.Admin.resetPassword(editUserForm("id").value.get), 'class -> "form-vertical", 'id -> "reset-password" ) {
                <input type="submit" class="btn" value="@Messages("Reset password")">
        }
        </div>
    </div>
}