@import org.intracer.wmua.User
@import controllers.Global._
@import org.intracer.wmua.Region
@(
        user: org.intracer.wmua.User, /* logged in user */
        asUserId: Long, /* viewing files of user with asUserId id  */
        asUser: org.intracer.wmua.User, /* viewing files of user asUser  */
        files: Seq[org.intracer.wmua.ImageWithRating],
        ranks: Seq[String],
        jurors: Seq[User],
        pager: Pager, /* not used */
        round: Option[org.intracer.wmua.Round],
        rounds: Seq[org.intracer.wmua.Round],
        rate: Option[Int],
        region: String = "all",
        regions: Seq[Region],
        outputFormat: String = "wiki",
        wrapInTable: Boolean,
        rates: RateDistribution
)(implicit flash: Flash, lang: Lang, messages: Messages)

@wrapInIf(tag: String, condition: Boolean)(content: Html) = {@if(condition) {<@tag> @content </@tag>} else {@content}}

@cell(content: Html) = {@wrapInIf("td", wrapInTable)(content)}

@row(content: Html) = {@wrapInIf("tr", wrapInTable)(content)}

@ratedOrSelected(round: org.intracer.wmua.Round, asUserId: Long) = {
@if(asUserId==0) {
        @if(round.isBinary) { @Messages("overall.selected")} else {@Messages("total.rating")}
    } else {
        @if(round.isBinary) { @Messages("selected")} else {@Messages("rating")}
    }
}

@main("filelist", user, asUserId, round, rounds, gallery = false, rate, region) {

    <div class="container">

    @defining(round.flatMap(_.id).getOrElse(0L)) { roundId =>

        @regionNav({ region: String => s"/filelist/round/$roundId/user/$asUserId/region/$region/page/1${rateParam(rate).body}" }, round, region, regions)

    <div class="row">

        @defining(s"<!-- " +
                s"${Messages("round")} ${round.fold(Messages("no"))(_.description)}, " +
                s"${Messages("juror")}: ${Option(asUser).fold(Messages("all"))(u => u.fullname)} " +
                s"${KOATUU.regions.get(region).fold("")(name => s", ${Messages("region")} $name")}. --> ") { t => @t <br/> }

    <div contenteditable="true">

        @if(wrapInTable) {
            <table class="table table-striped table-condensed">
                <thead>
                    <th> @Messages("rank") </th>
                    <th> @Messages("file") </th>
                    <th> @ratedOrSelected(round.get, asUserId) </th>
                    <th> @Messages("mpx") </th>
                    @for(juror <- jurors) {
                        <th> @juror.fullname </th>
                    }
                </thead>
                <tbody>
                }

        @for((file, rank) <- files.zip(ranks)) {
            @row {
                @if(wrapInTable) {
                    <td> @rank </td>
                }

                @cell {
                    @outputFormat match {
                        case "wiki" => {
                            <a href="https://commons.wikimedia.org/wiki/@file.title" target="_blank">@file.title</a> <br/>
                        }
                        case "html" => {
                            @defining(
                                s"""<a href="https://commons.wikimedia.org/wiki/${file.title}" target="_blank">
                                   |    <img src="${resizeTo(file.image, gallerySizeX, gallerySizeY)}">
                                   |</a>""".stripMargin
                            ) { str => @str <br/> }
                        }
                    }
                }

                @if(wrapInTable) {
                    <td>@file.rateString(round.get)</td>
                }
                <td>@file.image.mpxStr</td>
                @for(juror <- jurors) {
                    <td> @file.jurorRateStr(juror) </td>
                }
            }
        }

        @if(wrapInTable) {
        </tbody>
            <tfoot>
                <th> @Messages("rank") </th>
                <th> @Messages("file") </th>
                <th> @ratedOrSelected(round.get, asUserId) </th>
                @for(juror <- jurors) {
                    <th> @juror.fullname </th>
                }
            </tfoot>
        </table>
        }
    </div>
    </div>
    </div>
}
}
