@import controllers.Global
@import org.intracer.wmua.Region
@import db.scalikejdbc.Round
@import org.intracer.wmua.ImageWithRating
@import org.intracer.wmua.User
@(
        user: User,
        asUserId: Long,
        files: Seq[ImageWithRating],
        pager: Pager,
        maybeRound: Option[Round],
        rounds: Seq[Round],
        rate: Option[Int] = None,
        currentRegion: String = "all",
        regions: Seq[Region])(implicit flash: Flash, lang: Lang, messages: Messages)


@showRateGalery(file: org.intracer.wmua.ImageWithRating, index: Int) = {
@defining(maybeRound.get) { round =>

    <div style="margin-bottom: 10px;
        color: #ffffff;"> <b>@file.rankStr </b>
        <span style="margin-left: 5px;
            margin-right: 10px;">
        @if(round.rates.id != 2) {
            @for(i <- 1 to round.rates.id / 2) {
                <img alt="@i" src="@showStar(i, file.totalRate(round).toInt, round.rates.id <= 10, round.rates.id > 5 && !round.halfStar.contains(true))">
            }
            @file.rateString(round)
        } else {
            @for(i <- 1 to file.totalRate(round).toInt) {
                <button type="button" class="btn btn-default btn-sm active btn-success">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </button>
            }
        }
        </span>
    </div>
}
}

@main("byrate", user, asUserId, maybeRound, rounds, true, None, currentRegion,
    pagerView(asUserId, pager, rate, maybeRound.flatMap(_.id), currentRegion, "byrate")
) {

    @defining(maybeRound.get) { round =>
        @defining(round.id.getOrElse(0)) { roundId =>
            @defining({ region: String => s"/byrate/round/$roundId/user/$asUserId/region/$region/page/1" }) { regionToUrl =>

                @regionNav(regionToUrl, maybeRound, currentRegion, regions)

            <div class="row">

                @for(region <- regions) {
                    <div class="well col-sm-1">
                        <a href="@regionToUrl(region.id)">
                            @region.name @region.count
                        </a>
                    </div>
                    <ul class="gallery mw-gallery-traditional">
                    @for((file, index) <- files.filter(_.image.monumentId.exists(_.startsWith(region.id))).view.zipWithIndex) {
                        <li class="gallerybox">
                            <h1 id="@file.pageId" style="display: inline; width: 1px; height: 1px"></h1>

                            <div class="thumb">
                                <a href="@routes.LargeView.large(asUserId, file.pageId, currentRegion, round.getId, None, "byrate")" >
                                    <img class="cropped" alt="@file.title"
                                    src="@Global.resizeTo(file.image, Global.gallerySizeX, Global.gallerySizeY)"
                                    srcset="@Global.srcSet(file.image, Global.gallerySizeX, Global.gallerySizeY)">
                                </a>
                            </div>

                            @showRateGalery(file, index)

                        </li>
                    }
                    </ul>
                }

            </div>
            }
        }
    }
}