@import db.scalikejdbc.RoundJdbc
@(
        user: org.intracer.wmua.User,
        asUserId: Long,
        asUser: org.intracer.wmua.User,
        pageFiles: Seq[org.intracer.wmua.ImageWithRating],
        pages: Int,
        page: Int,
        round: Option[org.intracer.wmua.Round],
        rounds: Seq[org.intracer.wmua.Round],
        rate: Option[Int],
        region: String = "all",
        byRegion: Map[String, Int])(implicit flash: Flash, lang: Lang, messages: Messages)

    @main("gallery", user, asUserId, asUser, round, RoundJdbc.activeRounds(user.currentContest.getOrElse(0L)),  rounds, gallery = true, rate, region,
            pager(asUserId, pages, page, rate, round.flatMap(_.id), region)
    )  {

@defining( round.flatMap(_.id).getOrElse(0L) ) { roundId =>

    @regionNav((region:String) => routes.Gallery.list(user = asUserId, round = roundId, region = region, page = 1, rate = rate).url, round, region, byRegion)

    <div class="row" >

        <ul class="gallery mw-gallery-traditional">

            @for((file, index) <- pageFiles.view.zipWithIndex) {
                <li class="gallerybox">
                    <h1 id="@file.pageId" style="display: inline; width: 1px; height: 1px"></h1>

                    <div class="thumb">
                        <a href="/large/round/@roundId/user/@asUserId/region/@region/pageid/@file.pageId@rateParam(rate)" >
                            <img class="cropped" alt="@file.title" src="@controllers.Global.resizeTo(file.image, controllers.Global.gallerySizeX, controllers.Global.gallerySizeY)">
                        </a>
                    </div>

                </li>
            }

        </ul>

    </div>
    }
}