@(
        user: org.intracer.wmua.User,
        asUserId: Int,
        asUser: org.intracer.wmua.User,
        pageFiles: Seq[org.intracer.wmua.ImageWithRating],
        regionFiles: Seq[org.intracer.wmua.ImageWithRating],
        allFiles: Seq[org.intracer.wmua.ImageWithRating],
        page: Int,
        round: org.intracer.wmua.Round,
        rate: Option[Int],
        region: String = "all",
        byRegion: Map[String, Int])(implicit flash: Flash, lang: Lang)

    @main("gallery", user, asUserId, asUser, allFiles, Seq(round), gallery = true, rate, region, pager(asUserId, regionFiles, page, rate, round.id.toInt, region))  {

    @regionNav({region:String => s"/gallery/round/${round.id}/user/$asUserId/region/$region/page/1${rateParam(rate).body}"}, round, region, byRegion)


    <div class="row" >

        <ul class="gallery mw-gallery-traditional">

            @for((file, index) <- pageFiles.view.zipWithIndex) {
                <li class="gallerybox">
                    <h1 id="@file.pageId" style="display: inline; width: 1px; height: 1px"></h1>

                    <div class="thumb">
                        <a href="/large/round/@round.id/user/@asUserId/region/@region/pageid/@file.pageId@rateParam(rate)" >
                            <img class="cropped" alt="@file.title" src="@controllers.Global.resizeTo(file.image, controllers.Global.gallerySizeX, controllers.Global.gallerySizeY)">
                        </a>
                    </div>

                </li>
            }

        </ul>

    </div>
    }