@(
        user: org.intracer.wmua.User,
        asUserId: Int,
        asUser: org.intracer.wmua.User,
        pageFiles: Seq[org.intracer.wmua.ImageWithRating],
        regionFiles: Seq[org.intracer.wmua.ImageWithRating],
        allFiles: Seq[org.intracer.wmua.ImageWithRating],
        page: Int,
        round: org.intracer.wmua.Round,
        region: String = "all",
        byRegion: Map[String, Int])(implicit flash: Flash, lang: Lang)

    @showRateGalery(file: org.intracer.wmua.ImageWithRating, index: Int) = {
       <div style="margin-bottom: 10px; color: #ffffff;"> <b>@index. </b>
       <span style="margin-left: 5px; margin-right: 10px;">
        @for(i <- 1 to round.rates.id / 2) {
            <img alt="@i" src="@showStar(i, file.totalRate(round).toInt, round.rates.id <= 10)">
            }
            @file.rateString(round)
        </span>
        </div>
    }

@main("byrate", user, asUserId, asUser, allFiles, Seq(round), true, None, region, pager(asUserId, regionFiles, page, None, round.id.toInt, region, "byrate"))  {

    @regionNav({region:String => s"/byrate/round/${round.id}/user/$asUserId/region/$region/page/1"}, round, region, byRegion)

    <div class="row-fluid" >

        <ul class="gallery mw-gallery-traditional">
           @defining(pageFiles.headOption.map(head => regionFiles.indexWhere(_.pageId == head.pageId)).getOrElse(0)) {start =>
            @for((file, index) <- pageFiles.view.zipWithIndex) {
                <li class="gallerybox">
                    <h1 id="@file.pageId" style="display: inline; width: 1px; height: 1px"></h1>

                    <div class="thumb">
                        <a href="@routes.Gallery.large(asUserId, file.pageId, region, round.id.toInt, None, "byrate")" >
                            <img class="cropped" alt="@file.title" src="@controllers.Global.resizeTo(file.image, controllers.Global.gallerySizeX, controllers.Global.gallerySizeY)">
                        </a>
                    </div>

                    @showRateGalery(file, index+start+1)

                </li>
            }
           }

        </ul>
    </div>
    }