@import org.intracer.wmua.Region
@import controllers.Global

@(user: org.intracer.wmua.User,
        asUserId: Long,
        files: Seq[org.intracer.wmua.ImageWithRating],
        pager: Pager,
        maybeRound: Option[org.intracer.wmua.Round],
        rounds: Seq[org.intracer.wmua.Round],
        rate: Option[Int] = None,
        region: String = "all",
        regions: Seq[Region],
        rates: RateDistribution,
        rated: Option[Boolean])(implicit flash: Flash, lang: Lang, messages: Messages)

    @showRateGalery(file: org.intracer.wmua.ImageWithRating, index: Int) = {
    @defining(maybeRound.get) { round =>

        <div style="margin-bottom: 10px;
            color: #ffffff;"> <b>@file.rankStr</b>
            <span style="margin-left: 5px;
                margin-right: 10px;">
            @if(round.rates.id != 2) {
                @defining(if(round.rates.id <= 5 || round.halfStar.contains(false)) round.rates.id else round.rates.id / 2) { starsNum =>
                    @for(i <- 1 to starsNum) {
                        <img alt="@i" src="@showStar(i, file.totalRate(round).toInt, round.rates.id <= 10, round.rates.id > 5 && !round.halfStar.contains(false))">
                    }
                    @file.rateString(round)
                }
            } else {
                @for(i <- 1 to file.totalRate(round).toInt) {
                    <button type="button" class="btn btn-default btn-sm active btn-success">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    </button>
                }
            }
            </span>
        </div>
    }
    }

    @main("byrate", user, asUserId, maybeRound, rounds, true, rate, region,
        pagerView(asUserId, pager, rate, maybeRound.flatMap(_.id), region, "byrate"), rates, rated
    ) {

        @defining(maybeRound.get) { round =>
            @defining(round.id.getOrElse(0)) { roundId =>

                @if(regions.nonEmpty) {
                    @regionNav(
                        (region: String) =>
                            routes.Gallery.query("byrate", Some(asUserId), 1, region, roundId.asInstanceOf[Long], rate).url,
                        maybeRound, region, regions)
                }

            <div class="row" >

                <ul class="gallery mw-gallery-traditional">
                @for((file, index) <- files.view.zipWithIndex) {
                    <li class="gallerybox">
                        <h1 id="@file.pageId" style="display: inline;
                            width: 1px;
                            height: 1px"></h1>

                        <div class="thumb">
                            <a href="@routes.LargeView.large(asUserId, file.pageId, region, round.getId, None, "byrate")" >
                                <img class="cropped" alt="@file.title"
                                src="@Global.resizeTo(file.image, Global.gallerySizeX, Global.gallerySizeY)"
                                srcset="@Global.srcSet(file.image, Global.gallerySizeX, Global.gallerySizeY)">
                            </a>
                        </div>

                        @showRateGalery(file, index)

                    </li>
                }

            </ul>
            </div>
            }
        }
    }