@(
        adminUser: org.intracer.wmua.User,
        importUserForm: Form[Greeting],
        contestId: Long,
        variables: Map[String, String],
        substitution: Seq[String]
)(implicit flash: Flash, lang: Lang, messages: Messages)
@import helper._

@mainAdmin(Messages("users"), adminUser, adminUser.getId, contestId = Some(contestId)) {
    <div class="row" >

        <h3>Edit greeting template options</h3>

        <table class="table table-striped table-condensed">
            <caption>Variables</caption>
            <thead>
                <tr>
                    <th>Variable</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                @for((k, v) <- variables) {
                 <tr>
                     <td>@k</td>
                     <td>@v</td>
                 </tr>
                }
            </tbody>
        </table>

        @form(routes.Admin.saveGreeting(Some(contestId)), 'id -> "greeting-template") {
            <div class="form-group">

                @textarea(field = importUserForm("greetingtemplate"),
                    args = 'rows -> 15, 'cols -> 50, 'class -> "form-control", 'id -> "greeting-template", '_label -> "Greeting template"
                )

                @checkbox(field = importUserForm("use"))

                <div class="form-actions">
                    <input type="submit" class="btn btn-default btn-primary" value="@Messages("Save")">
                    <a href="#substitution" class="btn btn-info" data-toggle="collapse">Check</a>
                    <a href="@routes.Admin.users(Some(contestId))" class="btn btn-default">@Messages("Cancel")</a>
                </div>
            </div>

            <div id="substitution" class="collapse">
            @for(perUser <- substitution) {
                <pre>@perUser</pre>
            }
            </div>

        }
    </div>
}