@(
        user: org.intracer.wmua.User,
        asUserId: Int,
        files: Seq[org.intracer.wmua.ImageWithRating],
        index: Int,
        start: Int,
        end: Int,
        page: Int,
        rate: Int,
        region: String = "all",
        monument: Option[client.wlx.Monument])(
        implicit flash: Flash, lang: Lang)
@import org.intracer.wmua.ImageWithRating
@import client.wlx.Monument
    @button(btnClass: String, iconClass:String) = {
        <div class="@btnClass"><i class="@iconClass"></i></div>
    }

    @optionalButton(condition: () => Boolean, link:String, icon: String, clazz: String) = {
        @if(condition()) {
            <a href="@link"> @button(s"btn $clazz", icon)</a>
        } else {
            @button(s"btn disabled $clazz", icon)
        }
    }

    @buttonGallery() = {
        <a href="/gallery/user/@asUserId/rate/@rate/region/@region/page/@{1 + index/(Pager.filesPerPage(files) + 1)}#@index">@button("btn btn-small", "icon-th")</a>
    }

    @buttonUp() = {
        @optionalButton(() => index > 0, s"/large/user/$asUserId/rate/$rate/region/$region/index/${index-1}", "icon-chevron-up", "btn-small")
    }

    @buttonDown() = {
        @optionalButton(() => index < files.size-1, s"/large/user/$asUserId/rate/$rate/region/$region/index/${index+1}", "icon-chevron-down", "btn-small")
    }

    @buttonSelect() = {
        @if(files(index).rate <=0 ) {
            <a href="/large/rate/@rate/region/@region/pageid/@files(index).pageId/select/1">
            @button("btn btn-success btn-small", "icon-ok icon-white")
            </a>
        }
        @if(files(index).rate >=0 ) {
            <a href="/large/rate/@rate/region/@region/pageid/@files(index).pageId/select/-1">
                @button("btn btn-danger btn-small", "icon-ban-circle icon-white")
            </a>
        }
    }

    @thumbSmall(file:ImageWithRating, style:String) = {
        <div class="@style">
    }

    @main_large(Messages("gallery"), user) {
        <div class="container-fluid" style="padding-left:5px; margin-left:0px; margin-right:0px">
            <div class="row-fluid">
       <div class="span2" style="margin-left:0px; min-width: 185px">
           <div class="btn-group" style="margin-top:5px;">
               @buttonGallery()
               @buttonUp()
               @buttonDown()
               @if(user.id == asUserId) {
                   @buttonSelect()
               }
           </div>

        <ul class="gallery mw-gallery-traditional">
            @for((file, i) <- files.view.zipWithIndex.slice(start, end)) {
                <li class="gallerybox">

                       @thumbSmall(file, if(i == index) "thumb_small current" else "thumb_small")

                        <div style="margin:5px auto;"><a href="/large/user/@asUserId/rate/@rate/region/@region/index/@i">
                            <img width="150" height="120" class="cropped" alt="@file.title" src="@controllers.Global.thumbUrls.getOrElse(file.pageId, Gallery.UrlInProgress)" >
                        </a>
                        </div>
                    </div>
                </li>
            }
        </ul>
                @for(m <- monument) {
                    <div class="well" style="margin-right: 5px; margin-top: 10px; padding: 5px;">
                        @Html(m.typ + " " + m.subType) <br>
                        @Html(Monument.wikiLinkToUrl(m.name, "uk.wikipedia.org")) <br>
                    @Html(Monument.wikiLinkToUrl(m.place, "uk.wikipedia.org"))
                    </div>
                }

       </div>

       <div id="mainContent" class="span10"  style="margin-left:5px; margin-top: 10px;">

      <a href="https://commons.wikimedia.org/wiki/@files(index).title"> <img alt="@files(index).title" src="@controllers.Global.largeUrls.getOrElse(files(index).pageId, Gallery.UrlInProgress)" style="max-width:100%; height:auto;"> </a>

       </div>
    </div>
    </div>
    }