@(
        user: org.intracer.wmua.User,
        asUserId: Int,
        files: Seq[org.intracer.wmua.ImageWithRating],
        index: Int,
        start: Int,
        end: Int,
        page: Int,
        rate: Option[Int],
        region: String = "all",
        round: org.intracer.wmua.Round,
        monument: Option[client.wlx.Monument],
        module : String = "gallery")(
        implicit flash: Flash, lang: Lang, request: play.api.mvc.Request[Any])
@import org.intracer.wmua.ImageWithRating
@import client.wlx.Monument
@import  org.intracer.wmua.Round
    @button(btnClass: String, iconClass:String) = {
        <div class="@btnClass"><i class="@iconClass"></i></div>
    }

    @optionalButton(condition: () => Boolean, link: ()=> String, icon: String, clazz: String) = {
        @if(condition()) {
            <a href="@link.apply()"> @button(s"btn $clazz", icon)</a>
        } else {
            @button(s"btn disabled $clazz", icon)
        }
    }

    @buttonGallery() = {
        <a href="/@module/round/@round.id/user/@asUserId/region/@region/pageid/@files(index).pageId@rateParam(rate)#@files(index).pageId">@button("btn btn-small", "icon-th")</a>
    }

    @buttonUp() = {
        @optionalButton(() => index > 0,
            () => routes.Gallery.large(asUserId, files(index-1).pageId, region, round.id.toInt, rate, module).absoluteURL(false)(request),
        "icon-chevron-up", "btn-small")
    }

    @buttonDown() = {
        @optionalButton(() => index < files.size-1, () => routes.Gallery.large(asUserId, files(index+1).pageId, region, round.id.toInt, rate, module).absoluteURL(false)(request), "icon-chevron-down", "btn-small")
    }

    @buttonSelect() = {
        @if(files(index).rate <=0 ) {
            <a href="/large/round/@round.id.toInt/region/@region/pageid/@files(index).pageId/select/1@{rateParam(rate)}">
            @button("btn btn-success btn-small", "icon-ok icon-white")
            </a>
        }
        @if(files(index).rate >=0 ) {
            <a href="/large/round/@round.id.toInt/region/@region/pageid/@files(index).pageId/select/-1@{rateParam(rate)}">
                @button("btn btn-danger btn-small", "icon-ban-circle icon-white")
            </a>
        }
    }

    @thumbSmall(file:ImageWithRating, style:String) = {
        <div class="@style">
    }

    @main_large(module,
    user,
    files(index).totalRate / 2.0,
    s"/large/round/${round.id.toInt}/region/$region/pageid/${files(index).pageId}/select/", user.id.toInt != asUserId, rate) {
        <div class="container-fluid" style="padding-left:5px; margin-left:0px; margin-right:0px">
            <div class="row-fluid">
       <div class="span2" style="margin-left:0px; min-width: 185px">
           <div class="btn-group" style="margin:10px;">
               @buttonGallery()
               @buttonUp()
               @buttonDown()

                   @if(round.rates == Round.binaryRound) {
                       @if(user.id.toInt == asUserId) {
                           @buttonSelect()
                       }
                   } else {
                       <div id="rate-image" style="margin-top:10px;"></div>
                      <!-- <input type="text" id="scoretarget"/> -->
                   }
           </div>

        <ul class="gallery mw-gallery-traditional">
            @for((file, i) <- files.view.zipWithIndex.slice(start, end)) {
                <li class="gallerybox">

                       @thumbSmall(file, if(i == index) "thumb_small current" else "thumb_small")
                        <div style="margin:5px auto;"><a href="@routes.Gallery.large(asUserId, file.pageId, region, round.id.toInt, rate, module)">
                            <img width="150" height="120" class="cropped" alt="@file.title" src="@controllers.Global.thumbUrls.getOrElse(file.pageId, Gallery.UrlInProgress)" >
                        </a>
                        </div>
                    </div>
                </li>
            }
        </ul>
                @for(m <- monument) {
                    <div class="well" style="margin-right: 5px; margin-top: 10px; padding: 5px;">
                        @Html(m.typ + " " + m.subType) <br>
                        @Html(Monument.wikiLinkToUrl(m.name, "uk.wikipedia.org")) <br>
                    @Html(Monument.wikiLinkToUrl(m.place, "uk.wikipedia.org"))
                    </div>
                }

       </div>

       <div id="mainContent" class="span10"  style="margin-left:5px; margin-top: 10px;">

      <a href="https://commons.wikimedia.org/wiki/@files(index).title" target="_blank"> <img alt="@files(index).title" src="@controllers.Global.largeUrls.getOrElse(files(index).pageId, Gallery.UrlInProgress)" style="max-width:100%; height:auto;"> </a>

       </div>
    </div>
    </div>
    }