@(
        user: org.intracer.wmua.User,
        asUserId: Int,
        files: Seq[org.intracer.wmua.ImageWithRating],
        index: Int,
        start: Int,
        end: Int,
        page: Int,
        rate: Option[Int],
        region: String = "all",
        round: org.intracer.wmua.Round,
        monument: Option[client.wlx.dto.Monument],
        module : String = "gallery",
        comments: Seq[org.intracer.wmua.Comment])(
        implicit flash: Flash, lang: Lang, request: play.api.mvc.Request[Any])

    @main_large(module,
    user,
    files(index).totalRate(round) / 2.0,
    s"/large/round/${round.id.toInt}/region/$region/pageid/${files(index).pageId}/select/",
    readOnly = !user.roles.contains("jury") || !round.active || user.id.toInt != asUserId,
    round = round,
    rate = rate,
    preload = files.view.slice(start, end)) {
        <div class="container-fluid" style="padding-left:5px; margin-left:0px; margin-right:0px">
            <div class="row-fluid">
       <div class="span2" style="margin-left:0px; min-width: 185px">

           @navigationButtons(user, asUserId, files, index, page, rate, region, round, module)
           @thumbsBar(user, asUserId, files, index, start, end, rate, region, round, module)

           @monumentInfo(files(index).image, monument)
           @fullSizeUrl(files(index).image, round)

       </div>

       <div id="mainContent" class="span10"  style="margin-left:5px; margin-top: 10px;">

            <a href="https://commons.wikimedia.org/wiki/@files(index).title" target="_blank">
                <img alt="@files(index).title" src="@controllers.Global.resizeTo(files(index).image, controllers.Global.largeSizeX, controllers.Global.largeSizeY)" style="max-width:100%; height:auto;">
            </a>

       @commentsView(files(index).pageId, rate, region, round, module, comments)

       </div>
    </div>
    </div>
    }