@(user: org.intracer.wmua.User)(implicit lang: Lang)

@if(user != null) {
    <div class="btn-group pull-right" style="margin-top:10px">
        <a class="btn" href="#"><i class="icon-user"></i></a>
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="@routes.Admin.editUser(user.id.toString)"><i class="icon-user"></i> @Messages("profile")</a></li>
            <li><a href="@routes.Application.logout()"><i class="icon-off"></i> @Messages("logout")</a></li>
        </ul>
    </div>
}
