@(loginForm: Form[(String, String)])(implicit flash: Flash, lang: Lang)

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render(_, lang)) }

<h3>@Messages("signin.signin")</h3>

@form(routes.Application.auth(), 'class -> "form-vertical") {

    @if(loginForm.hasGlobalErrors) {
        <p class="error">
            <span class="label important">@Messages(loginForm.errors.head.message)</span>
        </p>
    }

    <fieldset>
        @inputText(
            loginForm("login"),
            'placeholder -> Messages("login"),
            '_label -> Messages("signin.your.login")
 ,           '_help -> ""
        )
        @inputPassword(
            loginForm("password"),
            '_label -> Messages("signin.your.password"),
            'placeholder -> Messages("password")
  ,          '_help ->""
        )
    </fieldset>

    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="@Messages("signin.signin")">
    </div>
}
