@(loginForm: Form[(String, String)])(implicit flash: Flash, lang: Lang, messages: Messages, req: RequestHeader)
@import b3.inline.fieldConstructor

@mainAdmin(Messages("application.name")) {

<fieldset class="col-md-6 col-md-offset-3">

    <legend>@Messages("signin.signin")</legend>

    @b3.vertical.form(action = routes.LoginController.auth()) { implicit vfc =>

        @if(loginForm.hasGlobalErrors) {
            <div class="alert alert-danger" role="alert">
            @Messages(loginForm.errors.head.message)
            </div>
        }

        @b3.text(loginForm("login"), '_hiddenLabel -> Messages("signin.your.login"), 'placeholder -> Messages("login"), 'class -> "form-control input-lg")
        @b3.password(loginForm("password"), '_hiddenLabel -> Messages("signin.your.password"), 'placeholder -> Messages("signin.your.password"), 'class -> "form-control input-lg")
        @helper.CSRF.formField

        <div class="form-group">
            <div>
                <button id="submit" type="submit" value="submit" class="btn btn-lg btn-primary btn-block">@Messages("signin.signin")</button>
            </div>
        </div>
    }

    <div>
        <p class="not-a-member">@Messages("not.a.member") <a href="/signup">@Messages("sign.up.now")</a>
    </div>
</fieldset>
}