@(loginForm: Form[(String, String)])(implicit flash: Flash, lang: Lang, messages: Messages)

<h3>@Messages("signin.signin")</h3>

    <form role="form" action="@routes.Login.auth()" method="POST">

        @if(loginForm.hasGlobalErrors) {
            <div class="alert alert-danger" role="alert">
                @Messages(loginForm.errors.head.message)
            </div>
        }

        <fieldset>
            <div class="form-group">
                <label for="login" class="control-label">@Messages("signin.your.login")</label>
                <input type="text" class="form-control" id="login" name="login" placeholder="@Messages("login")">
            </div>
            <div class="form-group">
                <label for="password" class="control-label">@Messages("signin.your.password")</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            </div>
        </fieldset>
        <div class="form-actions">
            <button type="submit" class="btn btn-default btn-primary">@Messages("signin.signin")</button>
        </div>
    </form>


