@import db.scalikejdbc.User
@import db.scalikejdbc.Round
@(
        title: String,
        user: User = null,
        asUserId: Long = 0,
        selectedRound: Option[Round] = None,
        rounds: Seq[Round] = Seq.empty,
        gallery: Boolean = false,
        rate: Option[Int] = None,
        region: String = "all",
        //        menu: Html = Html.empty,
        pager: Html = Html(""),
        contestId: Option[Long] = None)(content: Html)(implicit messages: Messages)
<!DOCTYPE html>

<html lang="@messages.lang.language">
    <head>
        <title>@title</title>
        <meta charset="UTF-8">

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">

            <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        <script>
                var contestId = @contestId.getOrElse(0L);
        </script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap-typeahead.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/autocomplete.js")"></script>

        <script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap-multiselect.js")"></script>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap-multiselect.css")" type="text/css"/>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

        <script type="text/javascript">
                $(function () {
                    $('#previousRound').change(function () {

                        if ($(this).val()) {
                            $('#selectFilters').hide();
                            $('#rateFilters').hide();
                            $('#prevRoundFilters').show();
                            $('.round' + $(this).val()).show()
                        } else {
                            $('#prevRoundFilters').hide();
                        }

                    });

                    $('#regions').multiselect({
                        includeSelectAllOption: true,
                        maxHeight: 400,
                        selectAllText: '@Messages("select.all")',
                        nonSelectedText: '@Messages("none.selected")',
                        nSelectedText: '@Messages("selected")',
                        allSelectedText: '@Messages("all.selected")'
                    });

                    $('#jurors').multiselect({
                        includeSelectAllOption: true,
                        maxHeight: 400,
                        selectAllText: '@Messages("select.all")',
                        nonSelectedText: '@Messages("none.selected")',
                        nSelectedText: '@Messages("selected")',
                        allSelectedText: '@Messages("all.selected")'
                    });

                    $('#jurors').change(function () {
                        var distribution = $('#distribution');
                        var jurors = $(this).val();
                        if (jurors) {
                            distribution.prop("disabled", false);

                            var selected = distribution.val();

                            var opts = distribution[0].options;
                            opts.length = 0;
                            opts.add(new Option('@Messages("each.image.to.all.jurors")', "0", false, false));

                            for (var i = 1; i <= jurors.length - 1; i++) {
                                opts[i] = new Option('@Messages("each.image.to.i.juror.s", "$X")'.replace('$X', i), i, false, false)
                            }

                            if (selected <= jurors.length - 1) {
                                distribution.val(selected)
                            }
                        } else {
                            distribution.prop("disabled", true);
                            distribution[0].options.length = 0;
                            distribution[0].options.add(new Option('@Messages("each.image.to.all.jurors")', "0", false, false));
                        }
                    });
                });
        </script>

    </head>

    <body @if(gallery) {
        class="gallery"}>

        @navbar(title, user, asUserId, selectedRound, rounds, gallery, rate, region, pager, contestId)

        <div class="container">

        @content

        </div>
    </body>
</html>
