@(
        title: String,
        user: org.intracer.wmua.User = null,
        asUserId: Int = 0,
        asUser: org.intracer.wmua.User = null,
        allFiles: Seq[org.intracer.wmua.ImageWithRating] = Seq.empty,
        currentRounds: Seq[org.intracer.wmua.Round] = Seq.empty,
        gallery: Boolean = false,
        rate: Option[Int] = None,
        region: String = "all",
//        menu: Html = Html.empty,
        pager: Html = Html.empty)(content: Html)()(implicit lang: Lang)
<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">

            <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    </head>

    <body @if(gallery) {class="gallery"} >

        @navbar(title, user, asUserId, asUser, allFiles, currentRounds, gallery, rate, region, pager)

     <div class="container-fluid" style="margin-left : 0px ; margin-right : 0px">

        @content

     </div>
  </body>
</html>
