@import org.intracer.wmua.Round
@import org.intracer.wmua.User
@(
        title: String,
        user: User = null,
        asUserId: Long = 0,
        asUser: User = null,
        selectedRound: Option[Round] = None,
        rounds: Seq[Round] = Seq.empty,
        gallery: Boolean = false,
        rate: Option[Int] = None,
        region: String = "all",
        //        menu: Html = Html.empty,
        pager: Html = Html(""),
        contestId: Option[Long] = None)(content: Html)()(implicit lang: Lang, messages: Messages)
<!DOCTYPE html>

<html lang="@lang.language">
    <head>
        <title>@title</title>
        <meta charset="UTF-8">

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">

            <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        <script>
                var contestId = @contestId.getOrElse(0L);
        </script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap-typeahead.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/autocomplete.js")"></script>

        <script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap-multiselect.js")"></script>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap-multiselect.css")" type="text/css"/>

        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

            <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->

        <script type="text/javascript">
                $(function () {
                    $('#previousRound').change(function () {

                        if ($(this).val()) {
                            $('#selectFilters').hide();
                            $('#rateFilters').hide();
                            $('#prevRoundFilters').show();
                            $('.round' + $(this).val()).show()
                        } else {
                            $('#prevRoundFilters').hide();
                        }

                    });

                    $('#categoryClause').change(function () {
                        if ($(this).val() == "No") {
                            $('#categoryDiv').hide();
                        } else {
                            $('#categoryDiv').show();
                        }
                    });

                    $('#regions').multiselect({
                        includeSelectAllOption: true,
                        maxHeight: 400
                    });

                    $('#jurors').multiselect({
                        includeSelectAllOption: true,
                        maxHeight: 400
                    });

                    $('#jurors').change(function () {
                        var distribution = $('#distribution');
                        var jurors = $(this).val();
                        if (jurors) {
                            distribution.prop("disabled", false);

                            var selected = distribution.val();

                            var opts = distribution[0].options;
                            opts.length = 0;
                            opts.add(new Option("Each image to all jurors", "0", false, false));

                            for (var i = 1; i <= jurors.length - 1; i++) {
                                opts[i] = new Option("Each image to " + i + " juror(s)", i, false, false)
                            }

                            if (selected <= jurors.length - 1) {
                                distribution.val(selected)
                            }
                        } else {
                            distribution.prop("disabled", true);
                            distribution[0].options.length = 0;
                            distribution[0].options.add(new Option("Each image to all jurors", "0", false, false));
                        }
                    });
                });
        </script>

    </head>

    <body @if(gallery) {
        class="gallery"}>

        @navbar(title, user, asUserId, asUser, selectedRound, rounds, gallery, rate, region, pager, contestId)

        <div class="container">

        @content

        </div>
    </body>
</html>
