@(
        title: String,
        user: org.intracer.wmua.User = null,
        asUserId: Int = 0,
        asUser: org.intracer.wmua.User = null,
        allFiles: Seq[org.intracer.wmua.ImageWithRating] = Seq.empty,
        currentRounds: Seq[org.intracer.wmua.Round] = Seq.empty,
        gallery: Boolean = false,
        rate: Option[Int] = None,
        region: String = "all",
//        menu: Html = Html.empty,
        pager: Html = Html.empty)(content: Html)()(implicit lang: Lang)
@import org.intracer.wmua.Round
<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">

        <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-select.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.js"></script>

        <style>
        body {
        padding-top : 60px ; /* 60px to make the container go all the way to the bottom of the topbar */
        }
        </style>


    </head>

    <body @if(gallery) {class="gallery"} >
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid" style="margin-left : 5px ; margin-right : 5px">
                <div class="nav-collapse collapse">
                    <ul class="nav">
                    @if(user != null) {
                        @if(user.roles.contains("admin")) {
                            <li><a class="brand" style="margin-top : 5px" href="/admin/users">@Messages("users")</a>
                            <li><a class="brand" style="margin-top : 5px" href="/admin/rounds">@Messages("rounds")</a>
                                }
                        @if(user.roles.intersect(Set("organizer", "admin")).nonEmpty) {
                            <li><a class="brand" style="margin-top : 5px" href="/roundstat">@Messages("Statistics")</a>
                                }

                        @for(round <- currentRounds
                            if (asUserId == 0 || asUserId == user.id) && round.roles.intersect(user.roles).nonEmpty) {
                            <li class="brand" style="margin-top : 5px">@Messages(s"Round ${round.description}")</li>
                            @if(round.rates == Round.binaryRound) {
                                <li class="@if(rate == Some(0)){active}">
                                    <a style="margin-top: 5px" href="/gallery/round/@round.id/user/@user.id/page/1@rateParam(Some(0))">@Messages("unrated") (@user.roundFiles(round.id).count(_.rate == 0))</a>
                                <li class="@if(rate == Some(1)){active active-}selected">
                                    <a style="margin-top: 5px;" href="/gallery/round/@round.id/user/@user.id/page/1@rateParam(Some(1))">@Messages("selected") (@user.roundFiles(round.id).count(_.rate == 1))</a>
                                <li class="@if(rate == Some(-1)){active active-}rejected">
                                    <a style="margin-top: 5px;" href="/gallery/round/@round.id/user/@user.id/page/1@rateParam(Some(-1))">@Messages("rejected") (@user.roundFiles(round.id).count(_.rate == -1))</a>
                                    } else {
                                <li class="@if(rate == Some(0)) {active}">
                                    <a style="margin-top : 5px" href="/@title/round/@round.id/user/@asUserId/page/1@rateParam(Some(0))">@Messages("unrated")
                                    (@allFiles.count(_.rate == 0))</a>
                                <li class="@if(rate != Some(0) && asUserId == user.id.toInt) {active}">
                                    <a style="margin-top : 5px ;" href="/byrate/round/@round.id/user/@user.id/page/1">@Messages("Rated")
                                    (@allFiles.count(_.rate > 0))</a>
                                <li class="@if(rate != Some(0) && asUserId == 0) {active}">
                                    <a style="margin-top : 5px ;" href="/byrate/round/@round.id/user/0/page/1">@Messages("Total (all jury) rating")
                                    (@allFiles.count(_.rate > 0))</a>
                                    }
                        }

                        @if(user.id != asUserId && user.roles.contains("organizer")) {
                            <li class="brand" style="margin-top : 5px">
                                Round @currentRounds.map(_.description).mkString(", ")
                            </li>
                        <li>
                        <div class="btn-group" style="margin-top:10px">
                            <a class="btn" href="#">@if(asUserId != 0){ @asUser.fullname } else {@Messages("All")}</a>
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                @for(round <- currentRounds) {
                                    @for(juror <- round.jurors) {
                                        <li><a href="/@title/round/@round.id/user/@juror.id/region/@region/page/1@rateParam(rate)">@juror.fullname</a></li>
                                    }
                                    <li><a href="/@title/round/@round.id/user/0/region/@region/page/1@rateParam(rate)">@Messages("All")</a></li>
                                }
                            </ul>
                        </div>
                            <div class="btn-group" style="margin-top:10px">
                                <a class="btn" href="#">@Map(1 -> "Selected", 0 -> "Unrated",-1 -> "Rejected")(rate.getOrElse(0))</a>
                                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                @for((rateName, rate) <- Seq(("Selected", Some(1)),("Unrated", Some(0)),("Rejected", Some(-1)))) {
                                        <li><a href="/@title/round/@currentRounds.head.id/user/@asUserId/region/@region/page/1@rateParam(rate)">@rateName</a></li>
                                }
                                </ul>
                            </div>
                                <div class="btn-group" style="margin-top:12px">
                                    <a href="/gallery/round/@currentRounds.head.id/user/@asUserId/region/@region/page/1@rateParam(rate)"><div class="btn btn-small"><i class="icon-th"></i></div></a>
                                    <a href="/filelist/round/@currentRounds.head.id/user/@asUserId/region/@region/page/1@rateParam(rate)"><div class="btn btn-small"><i class="icon-align-justify"></i></div></a>
                                </div>
                            </li>
                        }

                    } else {
                        <a class="brand" style="margin-top : 5px" href="#">@Messages("application.name")</a>
                    }
                    </ul>
                </div>
                @logged(user)
                @pager

            </div>
        </div>
     </div>

     <div class="container-fluid" style="margin-left : 0px ; margin-right : 0px">

        @content

     </div>
  </body>
</html>
