@(
        title: String,
        user: org.intracer.wmua.User = null,
        asUserId: Int = 0,
        asUser: org.intracer.wmua.User = null,
        allFiles: Seq[org.intracer.wmua.ImageWithRating] = Seq.empty,
        currentRounds: Seq[org.intracer.wmua.Round] = Seq.empty,
        gallery: Boolean = false,
        rate: Option[Int] = None,
        region: String = "all",
//        menu: Html = Html.empty,
        pager: Html = Html.empty)(content: Html)()(implicit lang: Lang)
<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">

        <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.js"></script>

        <style>
        body {
        padding-top : 60px ; /* 60px to make the container go all the way to the bottom of the topbar */
        }
        </style>


    </head>

    <body @if(gallery) {class="gallery"} >

        @navbar(title, user, asUserId, asUser, allFiles, currentRounds, gallery, rate, region, pager)

     <div class="container-fluid" style="margin-left : 0px ; margin-right : 0px">

        @content

     </div>
  </body>
</html>
