@import db.scalikejdbc.ImageJdbc
@import org.scalawiki.wlx.dto.Monument

@import java.net.URLEncoder
@(monuments: Seq[Monument], region: String = "all")(implicit flash: Flash, lang: Lang, messages: Messages)

@main("gallery", null, 0, null, None, Seq.empty, gallery = false, None, region, Html(""))  {

    <script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap-multiselect.js")"></script>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap-multiselect.css")" type="text/css"/>

    <script type="text/javascript">
    $(document).ready(function() {
        $('#regions-select').multiselect({
            enableFiltering: true,
            includeSelectAllOption: true
        });
        $('#regions-select').on('reset', function() {
            $('#regions-select option').each(function() {
                $(this).prop('selected', false);
            })

            $('#regions-select').multiselect('refresh');
        });
    });
    </script>

    <div class="row">

        <form class="btn-group" id="example-reset-form">
            <div class="btn-group">
                <select id="regions-select" multiple="multiple">
                    @for((id, name) <- KOATUU.regions.toSeq.sortBy(_._1)) {
                        <option value="@id">@name</option>
                    }
                </select>
                <button type="reset" id="regions-select-reset-button" class="btn btn-default">Reset</button>
            </div>
        </form>
    </div>

    @if(false) {
        @regionNav({ region: String => "/monuments/region/" + region}, null, region, Seq.empty)
    }

        <div class="row" >

        <table class="table table-bordered table-striped sortable">
            <thead>
                <tr>
                    <th>@Messages("id")</th>
                    <th>@Messages("image")</th>
                    <th>@Messages("name")</th>
                    <th>@Messages("year")</th>
                    <th>@Messages("place")</th>
                    <th>@Messages("city")</th>
                    <th>@Messages("user")</th>
                    <th>@Messages("coordinates")</th>
                    <th>@Messages("page")</th>
                    <th>@Messages("type")</th>
                    <th>@Messages("commons")</th>
                    <th>@Messages("resolution")</th>
                </tr>
            <thead>
        <tbody>
            @for(monument <- monuments) {
                <tr>
                    <td>@monument.id</td>
                    <td>@monument.photo.map{ photo =>
                      <a href="https://commons.wikimedia.org/wiki/File:@URLEncoder.encode(photo.replace(" ", "_"), "UTF8")">photo</a>
                    }</td>
                    <td>@Html(Monument.wikiLinkToUrl(monument.name, "uk.wikipedia.org")) </td>
                    <td>@monument.year.getOrElse("")</td>
                    <td>@Html(Monument.wikiLinkToUrl(monument.place, "uk.wikipedia.org"))</td>
                    <td>@Html(Monument.wikiLinkToUrl(monument.city, "uk.wikipedia.org"))</td>
                    <td>@monument.user</td>
                    <td>@monument.lat, @monument.lon</td>
                    <td><a href="https://uk.wikipedia.org/wiki/@monument.page">@monument.page</a></td>
                    <td>@monument.typ <br/> @monument.subType</td>
                    <td><a href="https://commons.wikimedia.org/wiki/Category:@monument.gallery">@monument.gallery</td>
                    <td>@monument.resolution</td>
                </tr>
@if(false){
                <tr>
                    <td colspan="12">

                    <div class="row" >

                        <ul class="gallery mw-gallery-traditional">

                        @for((file, index) <- ImageJdbc.findByMonumentId(monument.id).zipWithIndex) {
                            <li class="gallerybox">
                                <h1 id="@file.pageId" style="display: inline; width: 1px; height: 1px"></h1>

                                <div class="thumb">
                                    <a href="" >
                                        <img class="cropped" alt="@file.title" src="@controllers.Global.resizeTo(file, controllers.Global.gallerySizeX, controllers.Global.gallerySizeY)">
                                    </a>
                                </div>

                            </li>
                        }

                        </ul>

                    </div>
                    </td>
                </tr>
}

            }
        </tbody>
        </table>
    </div>
}