@import db.scalikejdbc.RoundJdbc
@import org.intracer.wmua.User
@(
        title: String,
        user: org.intracer.wmua.User = null,
        asUserId: Long = 0,
        asUser: org.intracer.wmua.User = null,
        selectedRound: Option[org.intracer.wmua.Round],
        currentRounds: Seq[org.intracer.wmua.Round] = Seq.empty,
        allRounds: Seq[org.intracer.wmua.Round] = Seq.empty,
        gallery: Boolean = false,
        rate: Option[Int] = None,
        region: String = "all",
        //        menu: Html = Html.empty,
        pager: Html = Html(""),
        contestId: Option[Long] = None)(implicit lang: Lang, messages: Messages)
@import org.intracer.wmua.Round

<nav class="navbar navbar-inverse" role="navigation" style="margin-bottom: 10px;">
    <div class="navbar-inner">
        <div class="container-fluid" style="margin-left : 5px ; margin-right : 5px">
            <ul class="nav navbar-nav">
                @if(user != null) {
                    <!--
                        Admin items: users and rounds setup
                    -->
                    @if(user.hasAnyRole(User.ADMIN_ROLES)) {
                        @for(cId <-contestId) {
                        <li role="presentation"><a class="brand" href="@routes.Contests.images(cId)">@Messages("images")</a>
                        <li role="presentation"><a class="brand" href="@routes.Admin.users(contestId)">@Messages("users")</a>
                        <li role="presentation"><a class="brand" href="@routes.Rounds.rounds(contestId)">@Messages("rounds")</a>
                        }
                    }

                    @for(round <- if (user.roles.contains("jury")) currentRounds else selectedRound.toSeq) {

                        @if(round.id.get >= 124 && round.id.get <= 128) {

                            @defining(selectedRound.flatMap(_.id) == round.id){ isActive =>
                                @if(user.roundFiles(round.id.get).count(_.rate == 0) > 0) {
                                    <li  role="presentation"
                                    class="@if(isActive) {active}">
                                        <a href="/byrate/round/@round.id.get/user/@user.id.get/page/1">@Messages(round.description)
                                            (@user.roundFiles(round.id.get).size)
                                        </a>
                                    </li>
                                }
                            }
                        } else {
                            <li class="navbar-brand" style="margin-left: 10px">@Messages(round.description)</li>
                        }

                        <!--
                        Statistics item, if user has rights
                        -->
                        @if(user.canViewOrgInfo(round)) {
                            <li role="presentation"><a class="brand" href="/roundstat">@Messages("statistics")</a>
                        }

                        <!--
                            If (viewing users summary or own gallery) and user is juror"
                        -->
                        @if((asUserId == 0 || asUserId == user.id.get) && round.roles.intersect(user.roles).nonEmpty) {
                            <!--
                                Show rounds dropdown
                            -->
                        @if(user.roles.contains("admin")) {
                            <li role="presentation" class="brand" style="margin-left : 10px">
                            @dropDownSelection(
                                new UiSelectionDto[Long](
                                    routes.Gallery.query(module = title, Some(asUserId), page = 1, region = region, _, rate),
                                    selectedRound.flatMap(_.id).get,
                                    SelectionItem(round.description),
                                    RoundJdbc.findByContest(user.currentContest.getOrElse(0L)).filter(user.canViewOrgInfo).map {
                                        r => (r.id.get, SelectionItem(r.description, localized = false))
                                    },
                                    defaultKey = round.id.get,
                                    default = false,
                                    id = 1
                                ).asInstanceOf[UiSelectionDto[Any]]
                            )
                            </li>
                        }

                            <!--
                                If binary round show unrated, selected, rejected tabs
                            -->
                            @if(round.rates == Round.binaryRound) {
                                @defining(selectedRound.flatMap(_.id) == round.id){ isActive =>

                                <li role="presentation" class="@if(rate.contains(0) && isActive){active}">
                                    <a href="/gallery/round/@round.id.get/user/@user.id.get/page/1@rateParam(Some(0))">
                                        @Messages("unrated") (@user.roundFiles(round.id.get).count(_.rate == 0))
                                    </a>
                                <li role="presentation" class="@if(rate.contains(1) && isActive){active active-}selected">
                                    <a href="/gallery/round/@round.id.get/user/@user.id.get/page/1@rateParam(Some(1))">
                                        @Messages("selected") (@user.roundFiles(round.id.get).count(_.rate == 1))
                                    </a>
                                <li role="presentation" class="@if(rate.contains(-1) && isActive){active active-}rejected">
                                    <a href="/gallery/round/@round.id.get/user/@user.id.get/page/1@rateParam(Some(-1))">
                                        @Messages("rejected") (@user.roundFiles(round.id.get).count(_.rate == -1))
                                    </a>
                                }
                                } else {
                               <!--
                                Rating round
                                -->
                                @if(round.id.get >= 124 && round.id.get <= 128) {

                                } else {


                                    @if(round.id.get == 34) { <li role="presentation"> <a class="brand" href="/chat">@Messages("chat") </a>}

                                @defining(selectedRound.flatMap(_.id) == round.id){ isActive =>
                                @if(user.roundFiles(round.id.get).count(_.rate == 0) > 0) {
                                <li  role="presentation" class="@if(rate.contains(0) && isActive) {active}">
                                    <a href="/gallery/round/@round.id.get/user/@asUserId/page/1@rateParam(Some(0))">@Messages("unrated")
                                        (@user.roundFiles(round.id.get).count(_.rate == 0))
                                    </a>
                                    }
                                <li  role="presentation" class="@if(!rate.contains(0) && isActive && asUserId == user.id.get) {active}">
                                <a  href="/byrate/round/@round.id.get/user/@user.id.get/page/1">@Messages("rated")
                                    (@user.roundFiles(round.id.get).count(_.rate > 0))
                                </a>
                                }

                            @if(false) {
                            <li  role="presentation" class="@if(!rate.contains(0) && asUserId == 0) {active}">
                                <a href="/byrate/round/@round.id.get/user/0/page/1">@Messages("all.jury.rating")
                                    (@user.roundFiles(round.id.get).count(_.rate > 0))</a>
                                }
                                }
                            }
                        }
                    }

                    @if(user.id.get != asUserId && user.roles.intersect(Set("organizer", "admin")).nonEmpty) {
                        @for(round <- if (user.roles.contains("jury")) currentRounds else selectedRound.toSeq) {
                                <li role="presentation" class="brand" >
                                @dropDownSelection(
                                    new UiSelectionDto[Long](
                                        { roundId: Long => routes.Gallery.query(module = if(allRounds.exists(r => r.id.get == roundId && r.rates.id == 1)) "gallery" else "byrate",
                                            Some(asUserId), page = 1, region = region, roundId, rate)
                                        },
                                        round.id.get,
                                        SelectionItem(round.description),
                                        allRounds.filter(user.canViewOrgInfo).map(r => (r.id.get, SelectionItem(r.description, localized = false))),
                                        defaultKey = round.id.get,
                                        default = false,
                                        id = 2
                                    ).asInstanceOf[UiSelectionDto[Any]]
                                )
                                </li>
                            @if(round.id.get == 34) {
                                <li  role="presentation">
                                    <a class="brand" style="margin-left: 10px;" href="/chat">@Messages("chat") </a>
                                </li>
                            }
                            <li role="presentation">

                                @dropDownSelection(
                                    new UiSelectionDto[Option[Long]](
                                        routes.Gallery.query(module = title, _, page = 1, region = region, round = round.id.get, rate),
                                        Some(asUserId),
                                        SelectionItem("all"),
                                        round.jurors.map(u => (Some(u.id.get), SelectionItem(u.fullname, localized = false))),
                                        defaultKey = Some(0L),
                                        id = 3
                                    ).asInstanceOf[UiSelectionDto[Any]]
                                )

                            @if(round.rates.id == 1) {
                                @dropDownSelection(
                                    new UiSelectionDto[Option[Int]](
                                        routes.Gallery.query(module = title, user = Some(asUserId), page = 1, region = region, round = round.id.get, _),
                                        rate,
                                        SelectionItem("all"),
                                        Seq(
                                            Some(1)-> SelectionItem("selected"),
                                            Some(0) -> SelectionItem("unrated"),
                                            Some(-1) -> SelectionItem("rejected")),
                                        None,
                                    id = 4
                                    ).asInstanceOf[UiSelectionDto[Any]]
                                )
                            }
                            @if(/*round.rates.id == 1 &&*/ title != "byrate") {
                                @dropDownSelection(
                                    new UiSelectionDto[String](
                                        routes.Gallery.query(_, user = Some(asUserId), page = 1, region = region, round = round.id.get, rate),
                                        title,
                                        SelectionItem("thumbnails", Some("th")),
                                        Seq(
                                            /*"gallerylarge" -> SelectionItem("large.thumbnails",Some("icon-th-large")),*/
                                            "filelist" -> SelectionItem("file.list", Some("align-justify"))),
                                        "gallery",
                                        id = 5
                                    ).asInstanceOf[UiSelectionDto[Any]]
                                    , iconOnly = true)
                            } else {
                                @if(user.roundFiles(round.id.get).count(_.rate == 0) > 0) {
                            <li  role="presentation" class="@if(rate.contains(0)) {active}">
                                <a href="/gallery/round/@round.id.get/user/@asUserId/page/1@rateParam(Some(0))">@Messages("unrated")
                                    (@user.roundFiles(round.id.get).count(_.rate == 0))
                                </a>
                                }
                            <li  role="presentation" class="@if(!rate.contains(0) && asUserId == user.id.get) {active}">
                                <a  href="/byrate/round/@round.id.get/user/@user.id.get/page/1">@Messages("rated")
                                    (@user.roundFiles(round.id.get).count(_.rate > 0))
                                </a>

                                @dropDownSelection(
                                    new UiSelectionDto[String](
                                        routes.Gallery.query(_, user = Some(asUserId), page = 1, region = region, round = round.id.get),
                                        title,
                                        SelectionItem("thumbnails", Some("th")),
                                        Seq(
                                            /*"gallerylarge" -> SelectionItem("large.thumbnails",Some("icon-th-large")),*/
                                            "filelist" -> SelectionItem("file.list", Some("align-justify"))),
                                        "byrate",
                                        id = 6
                                    ).asInstanceOf[UiSelectionDto[Any]]
                                    , iconOnly = true)
                                }
                                }
                    </li>
                    }

                } else {
                    <a class="brand" href="#">@Messages("application.name")</a>
                }
                @pager
            </ul>
            @logged(user)

        </div>
    </div>
</nav>
