@import db.scalikejdbc.User
@import db.scalikejdbc.Round
@(
        title: String,
        user: User = null,
        asUserId: Long = 0,
        selectedRound: Option[Round],
        rounds: Seq[Round] = Seq.empty,
        gallery: Boolean = false,
        rate: Option[Int] = None,
        region: String = "all",
        //        menu: Html = Html.empty,
        pager: Html = Html(""),
        contestId: Option[Long] = None,
        rates: RateDistribution = new RateDistribution(Map.empty),
        rated: Option[Boolean] = None)(implicit lang: Lang, messages: Messages)

<!-- Navigation bar on the top of the page -->
<nav class="navbar navbar-inverse" role="navigation" style="margin-bottom: 10px;">
    <div class="navbar-inner">
        <div class="container-fluid" style="margin-left: 5px ;
            margin-right: 5px">
            <ul class="nav navbar-nav">
                @if(user != null) {

                    @if(user.hasRole(User.ROOT_ROLE)) {
                        <li role="presentation"><a class="brand" href="@routes.Contests.list()">@Messages("Contests")</a>
                    @if(contestId.isEmpty) {
                        <li role="presentation"><a class="brand" href="@routes.Admin.allUsers()">@Messages("users")</a>
                    }
                    }
                        <!-- Admin items: images,  users and rounds setup -->
                    @if(user.hasAnyRole(User.ADMIN_ROLES)) {
                        @for(cId <- contestId) {
                            <li role="presentation"><a class="brand" href="@routes.Contests.images(cId)">@Messages("images")</a>
                            <li role="presentation"><a class="brand" href="@routes.Admin.users(contestId)">@Messages("users")</a>
                            <li role="presentation"><a class="brand" href="@routes.Rounds.rounds(contestId)">@Messages("rounds")</a>
                        }
                    }

                        <!-- Link to statistics view, if user has rights -->
                    @if(selectedRound.nonEmpty && user.canViewOrgInfo(selectedRound.get)) {
                        <li role="presentation"><a class="brand" href="@routes.Rounds.roundStat(selectedRound.get.getId)">@Messages("statistics")</a>
                    } else {
                        @if(rounds.exists(round => user.canViewOrgInfo(round))) {
                            <li role="presentation"><a class="brand" href="@routes.Rounds.currentRoundStat(contestId)">@Messages("statistics")</a>
                        }
                    }

                    @for(round <- selectedRound.toSeq) {

                        @if(!(user.canViewOrgInfo(round) || rounds.size > 1)) {
                            <li class="navbar-brand" style="margin-left: 10px">@Messages(round.description)</li>
                        }

                            <!-- If (viewing users summary or own gallery) and user is juror" -->
                        @if((asUserId == 0 || asUserId == user.getId) && round.roles.intersect(user.roles).nonEmpty) {

                            <!-- Show rounds dropdown -->
                        @if(user.canViewOrgInfo(round) || (rounds.size > 1)) {
                            <li role="presentation" class="brand" style="margin-left: 10px">
                            @(new UiSelectionDto[Long](
                                itemUrlFunction = (roundId: Long) => routes.Gallery.query(module = title, Some(asUserId), page = 1, region = region, roundId, rate),
                                selectedItemId = selectedRound.flatMap(_.id).get,
                                items = rounds.map {
                                        r => (r.getId, SelectionItem(r.description, localized = false))
                                    }
                            ).toDropDown())
                            </li>
                        }

                            <!--
                                If binary round show unrated, selected, rejected tabs
                            -->
                        @if(round.isBinary) {
                            @defining(selectedRound.flatMap(_.id) == round.id) { isActive =>

                                <li role="presentation" class="@if(rate.contains(0) && isActive) {active}">
                                    <a href="/gallery/round/@round.getId/user/@user.getId/page/1@rateParam(Some(0))">
                                        @Messages("unrated") (@rates.unrated)
                                    </a>

                            <li role="presentation" class="@if(rate.contains(1) && isActive) {active active-}selected">
                                <a href="/gallery/round/@round.getId/user/@user.getId/page/1@rateParam(Some(1))">
                                    @Messages("selected") (@rates.selected)
                                </a>

                                <li role="presentation" class="@if(rate.contains(-1) && isActive) {active active-}rejected">
                                    <a href="/gallery/round/@round.getId/user/@user.getId/page/1@rateParam(Some(-1))">
                                        @Messages("rejected") (@rates.rejected)
                                    </a>
                            }
                        } else {
                                <!-- Rating round -->

                            @defining(selectedRound.flatMap(_.id) == round.id) { isActive =>
                                @if(rates.unrated > 0) {
                                    <li role="presentation" class="@if(rate.contains(0) && isActive) {active}">
                                        <a href="/gallery/round/@round.getId/user/@asUserId/page/1@rateParam(Some(0))">@Messages("unrated")
                                            (@rates.unrated)
                                        </a>
                                }
                            <li role="presentation" class="@if(!rate.contains(0) && isActive && asUserId == user.getId) {active}">
                                <a href="/byrate/round/@round.getId/user/@user.getId/page/1">@Messages("rated")
                                    (@rates.rated)
                            </a>
                            }
                        }
                    }

                        @if(user.getId != asUserId && user.canViewOrgInfo(round)) {
                                <!-- Select round -->

                            <li role="presentation" class="brand" >
                            @(new UiSelectionDto[Long](
                                { roundId: Long => routes.Gallery.query(module = title, Some(asUserId), page = 1, region = region, roundId, rate) },
                                round.getId,
                                rounds.map(r => (r.getId, SelectionItem(r.description, localized = false)))
                            ).toDropDown())
                            </li>

                                <!-- Select user -->

                            <li role="presentation">
                            @(new UiSelectionDto[Option[Long]](
                                { userId: Option[Long] => routes.Gallery.query(module = title, userId, page = 1, region = region, round = round.getId, rate) },
                                Some(asUserId),
                                User.findByRoundSelection(round.getId).map(u => (Some(u.getId), SelectionItem(u.fullname, localized = false))),
                                Some(Some(0L) -> SelectionItem("all"))
                            ).toDropDown())

                            @if(round.isBinary) {
                                @(new UiSelectionDto[Option[Int]](
                                    routes.Gallery.query(module = title, user = Some(asUserId), page = 1, region = region, round = round.getId, _),
                                    rate,
                                    Seq(
                                        Some(1) -> SelectionItem("selected"),
                                        Some(0) -> SelectionItem("unrated"),
                                        Some(-1) -> SelectionItem("rejected")
                                    ),
                                    Some(None -> SelectionItem("all"))
                                ).toDropDown())
                            } else {
                                @(new UiSelectionDto[Option[Boolean]](
                                    routes.Gallery.query(module = title, user = Some(asUserId), page = 1, region = region, round = round.getId, None, _),
                                    rated,
                                    Seq(
                                        Some(true) -> SelectionItem("rated"),
                                        Some(false) -> SelectionItem("unrated")
                                    ),
                                    Some(None -> SelectionItem("all"))
                                ).toDropDown())
                            }
                            @if(rates.unrated > 0) {
                                <li role="presentation" class="@if(rate.contains(0)) {active}">
                                    <a href="/gallery/round/@round.getId/user/@asUserId/page/1@rateParam(Some(0))">@Messages("unrated")
                                        (@rates.unrated)
                                    </a>

                            <li role="presentation" class="@if(!rate.contains(0) && asUserId == user.getId) {active}">
                                <a href="/byrate/round/@round.getId/user/@user.getId/page/1">@Messages("rated")
                                    (@rates.rated)
                                </a>
                            }

                            @(new UiSelectionDto[String](
                                { module: String =>
                                    routes.Gallery.query(module, Some(asUserId), page = 1, region = region, round = round.getId, rate = rate)
                                },
                                title,
                                Seq(
                                    /*"gallerylarge" -> SelectionItem("large.thumbnails",Some("icon-th-large")),*/
                                    "gallery" -> SelectionItem("gallery", Some("glyphicon glyphicon-th")),
                                    "byrate" -> SelectionItem("byrate", Some("glyphicon glyphicon-signal")),
                                    "filelist" -> SelectionItem("file.list", Some("glyphicon glyphicon-align-justify")),
                                    "csv" -> SelectionItem("csv", Some("fa fa-file-text-o"))
                                )
                            ).toDropDown(iconOnly = true))
                        </li>
                        }
                    }
                } else {
                    <a class="brand" href="#">@Messages("application.name")</a>
                }
                @pager
            </ul>
            @logged(user)

        </div>
    </div>
</nav>
