@(      asUserId: Long = 0,
        pager: Pager,
        rate: Option[Int] = None,
        maybeRoundId: Option[Long],
        region: String = "all",
        module: String = "gallery"
        )(implicit messages: Messages)

@if(pager.display) {
@defining(maybeRoundId.getOrElse(0L) ) { roundId =>
    <li>
    <div  class="col-md-12 text-center" >
        <ul class="pagination"  id="pagenav" style="margin-top: 10px; margin-bottom: 0px;">
            @if(pager.hasPrev) {
                <li><a href="/@module/round/@roundId/user/@asUserId/region/@region/page/@{pager.page-1}@rateParam(rate)">&laquo;</a></li>
            } else {
                <li class="disabled"><a href="#" style="color: #999999; background-color: #f5f5f5 ;">&laquo;</a></li>
            }
            @for(i <- 1 to pager.pages.get) {
                @if(i == pager.page) {
                    <li class="active"><a href="/@module/round/@roundId/user/@asUserId/region/@region/page/@i@rateParam(rate)">@i</a></li>
                } else {
                    <li><a href="/@module/round/@roundId/user/@asUserId/region/@region/page/@i@rateParam(rate)">@i</a></li>
                }
            }
            @if(pager.hasNext) {
                <li><a href="/@module/round/@roundId/user/@asUserId/region/@region/page/@{pager.page + 1}@rateParam(rate)">&raquo;</a></li>
            } else {
                <li class="disabled"><a href="#" style="color: #999999 ; background-color: #f5f5f5 ;">&raquo;</a></li>
            }
        </ul>
    </div>
    </li>
}
}
