@import db.scalikejdbc.Rates
@(      module: String = "gallery",
        roundId: Int,
        asUserId: Int,
        rate: Option[Int] = None,
        region: String = "all"
        )(implicit messages: Messages)

<div class="btn-group" style="margin-top : 10px">
    <a class="btn" href="#">@Messages(rate.fold("all")(r => Rates.map(r)))</a>
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
    <ul class="dropdown-menu">
        @for((rate, rateName) <- Rates.pairs) {
            <li><a href="@routes.GalleryController.query(module = module, user = Some(asUserId), page = 1, region = region, round = roundId, rate = rate)">@Messages(rateName)</a></li>
        }
    </ul>
</div>