@(      regionToUrl: String => String,
        round: org.intracer.wmua.Round,
        region: String = "all",
        byRegion: Map[String, Int]
        )(implicit flash: Flash, lang: Lang, messages: Messages)

@if(round == null || round.contest == 14 || round.contest == 16 || round.contest == 17 || round.contest == 20 || round.contest == 23) {
    <div class="row" >
        <nav>
        <div class="col-md-12 text-center"  style="margin-bottom : 5px ;">
            <ul class="pagination" id="regionnav" style="margin-top: 0px; margin-bottom: 0px;">
                <li>
                    <a href="@regionToUrl("all")" @if("all" == region) {style="font-weight: bold"}>*</a>
                </li>
                @for((id, name) <- KOATUU.regions.toSeq.sortBy(_._1); if byRegion.getOrElse(id, 0) > 0) {
                    <li>
                        <a href="@regionToUrl(id)" @if(id == region) {style="font-weight: bold"}>
                            @Messages(id) (@byRegion(id))
                        </a>
                    </li>
                }
            </ul>
        </div>
        </nav>
    </div>

}
