@import org.intracer.wmua.Region
@(      regionToUrl: String => String,
        round: Option[org.intracer.wmua.Round],
        selectedRegion: String = "all",
        regions: Seq[Region]
        )(implicit flash: Flash, lang: Lang, messages: Messages)

@if(regions.size > 1) {
    <div class="row" >
        <nav>
        <div class="col-md-12 text-center"  style="margin-bottom: 5px;">
            <ul class="pagination" id="regionnav" style="margin-top: 0px; margin-bottom: 0px;">
                <li @if("all" == selectedRegion) {style="font-weight: bold"}>
                    <a href="@regionToUrl("all")" >*</a>
                </li>
                @for(region <- regions) {
                    <li @if(region.id == selectedRegion) {style="font-weight: bold"}>
                        <a href="@regionToUrl(region.id)" >
                            @region.name (@region.count)
                        </a>
                    </li>
                }
            </ul>
        </div>
        </nav>
    </div>

}
