@(
        user: org.intracer.wmua.User,
        round: org.intracer.wmua.Round,
        byUserCount: Map[Long, Int],
        byUserSelectedCount: Map[Long, Int],
        selectionSize: Int,
        selectedSize: Int
        )(implicit flash: Flash, lang: Lang)
    @import org.intracer.wmua.Selection
    @import views.html.helper._
    @implicitFieldConstructor = @{
        FieldConstructor(twitterBootstrapInput.render(_, lang))
    }


    @main(Messages("statistics"), user, user, 0, Some(round), gallery = false) {
        <div class="row-fluid" >

            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Email
                        </th>

                        <th>
                            Images
                        </th>
                        <th>
                            Selected
                        </th>
                    </tr>
                </thead>
                <tbody>
                @for(user <- round.jurors) {
                    <tr>
                        <td>
                        @user.fullname
                        </td>
                        <td>
                        @user.email
                        </td>
                        <td>
                            <a href="/gallery/user/@user.id/rate/0/page/1">@byUserCount.getOrElse(user.id, 0)</a>
                        </td>
                        <td>
                            <a href="/gallery/user/@user.id/rate/1/page/1">@byUserSelectedCount.getOrElse(user.id, 0)</a>
                        </td>
                    </tr>
                }
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="2">
                            @Messages("Total")
                        </th>
                        <th>
                            <a href="/gallery/rate/0/page/1">@selectionSize</a>
                        </th>
                        <th>
                            <a href="/gallery/rate/1/page/1">@selectedSize</a>
                        </th>
                    </tr>
                </tfoot>

            </table>
        </div>
    }