@(user: org.intracer.wmua.User, files: Seq[String], selected: scala.collection.mutable.SortedSet[String],
        region: String, round: Int)(implicit flash: Flash, lang: Lang)

    @main(Messages("gallery"), user, 0, round) {

    <div class="row-fluid" >
    <div class="pagination pagination-centered" style="margin-top:10px; margin-bottom:5px;">
      <ul>
          <li><a href="/round/@round/all" @if("all" == region){style="font-weight: bold"}>*</a></li>
          @for((id, name) <- KOATUU.regions.toSeq.sortBy(_._1)) {

                  <li><a href="/round/@round/@id" @if(id == region){style="font-weight: bold"}>@name</a></li>
          }
      </ul>
    </div>
    </div>

    <div class="row-fluid" >

        <ul class="gallery mw-gallery-traditional">

            @for((file, index) <- files.view.zipWithIndex) {
                <li class="gallerybox">
                    <h1 id="@index" style="display: inline; width: 1px; height: 1px"></h1>

                    <div class="thumb @if(selected.contains(file)){selected}">
                        <a href="/largeRound/@round/@region/@index" width="300" height="200">
                            <img class="cropped" alt="@file" src="@Global.galleryUrls.getOrElse(file, Gallery.UrlInProgress)">
                        </a>
                    </div>

                </li>
            }

        </ul>

    </div>
    }