@import org.intracer.wmua.User
@import org.intracer.wmua.Round
@(user: User, round: Round, stat: RoundStat)(implicit flash: Flash, lang: Lang, messages: Messages)


    @main(Messages("statistics"), user, user.getId, Some(round), stat.rounds, gallery = false) {

        @if(user.canViewOrgInfo(round)) {
            <div class="row" >
                <nav>
                <div class="col-md-12 text-center">
                    <ul class="pagination pagination-centered" style="margin-top: 10px; margin-bottom: 5px;">
                    @for(r <- stat.rounds) {
                        <li><a href="/roundstat/@r.id" @if(r.id == round.id){style="font-weight: bold"}> @r.description </a>
                        </li>
                    }
                    </ul>
                </div>
                </nav>
            </div>
        }

        <div class="row">
            @roundStatTable(user, round, stat)
        </div>
    }