@(
        adminUser: org.intracer.wmua.User,
        rounds: Seq[org.intracer.wmua.Round],
        editRoundForm: Form[org.intracer.wmua.Round],
        editImagesForm: Form[Option[String]],
        selectRoundForm: Form[String],
        round: org.intracer.wmua.Round)(implicit flash: Flash, lang: Lang, messages: Messages)
    @import helper._
    @import org.intracer.wmua.ContestJury
    @import org.intracer.wmua.Round
    @import org.intracer.wmua.Selection

    @main(Messages("rounds"), adminUser, adminUser.id.toInt) {
        <div class="row" >
            <h3>@Messages("Contest: " + ContestJury.byId(adminUser.contest).head.name)</h3>

            @form(routes.Rounds.setImages(), 'class -> "form-vertical", 'id -> "set-images") {
                <table>
                    <tr>
                        <td>
                        @inputText(editImagesForm("images"), 'placeholder -> Messages("Commons category or gallery"),
                            '_label -> "Category or gallery with images on commons", '_help -> "", 'class -> "input-xxlarge", 'readonly -> "")
                        </td>
<!--                        <td>
                            <div class="control-group">
                                <input type="submit" class="btn" value="@Messages("Set images")">
                            </div>
                        </td> -->

                    </tr>
                </table>
            }

            @form(routes.Rounds.setRound(), 'class -> "form-vertical", 'id -> "set-round") {
                <table>
                    <tr>
                        <td>
                        @select(selectRoundForm("currentRound"), rounds.map(r => (r.id.toString, r.description)),
                            '_label -> "Current round", '_help -> "")
                        </td>
                        <td>
                            <div class="control-group">
                                <input type="submit" class="btn" value="@Messages("Set current round")">
                            </div>
                        </td>

                    </tr>
                </table>
            }

        @form(routes.Rounds.startRound(), 'class -> "form-vertical", 'id -> "start-round") {
                        <div class="control-group">
                            <input type="submit" class="btn" value="@Messages("Start round")">
                        </div>
        }

         <table class="table table-striped table-condensed" style="background-color : #CCCCCC ;">

                <thead>
                    <tr>
                        <th width="10%">@Messages("Number") </th>
                        <th width="10%">@Messages("Name") </th>
                        <th width="10%">@Messages("Jury role") </th>
                        <th width="10%">@Messages("Image distribution") </th>
                        <th width="10%">@Messages("Selection type") </th>
                            <!--                        <th width="10%">@Messages("Min selected") </th>
                        <th width="10%">@Messages("Max selected") </th>
                        <th width="10%">@Messages("Recommended selected") </th> -->
                        <th width="10%">@Messages("Images")</th>
                        <th width="10%">@Messages("Selected")</th>
                    </tr>
                </thead>

                <tbody>

                    @for(round <- rounds) {
                        <tr>
                            <td> <a href="/admin/rounds/edit/@round.id">@round.number</a> </td>
                            <td> @round.name </td>
                            <td>@round.roles.mkString(",") </td>
                            <td>@Seq("Each image to all jurors", "Each image to 1 juror", "Each image to 2 jurors")(round.distribution) </td>
                            <td>@round.rates.name </td>
<!--                            <td>@round.limitMin </td>
                            <td>@round.limitMax </td>
                            <td>@round.recommended.fold("")(_.toString) </td> -->
                            <td>@round.allImages.size </td>
                            <td>@Selection.byRoundSelected(round.id).filter(_.rate > 0).groupBy(_.pageId).size </td>
                        </tr>
                    }

                    @form(routes.Rounds.saveRound, 'class -> "form-vertical", 'id -> "add-round") {
                        <tr>
                            @if(editRoundForm.hasGlobalErrors) {
                                <p class="error">
                                    <span class="label important">@Messages(editRoundForm.errors.head.message)</span>
                                </p>
                            }
                            <td>
                                <div class="btn" onClick="document.forms[ 'add-round' ].submit ( ) ;">
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/0/06/Farm-Fresh_add.png">
                                </div>
                            </td>
                            <td>
                                <input type="hidden" name="id" id="id" value="0" />
                                <input type="hidden" name="number" id="number" value="@{
                                    rounds.size + 1
                                }" />
                                <input type="hidden" name="contest" id="contest" value="@adminUser.contest" />
                                @inputText(editRoundForm("name"), 'placeholder -> Messages("Name"), '_label -> null, '_help -> "", 'class -> "input-small")
                            </td>
                            <td>
                            @select(editRoundForm("roles"), Seq("jury", "organizer").map(x => (x, x)), '_label -> "", '_help -> "", 'class -> "input-small")
                            </td>
                            <td>
                            @select(editRoundForm("distribution"),
                                (0 to 2).map(x => (x.toString,
                                        Seq("Each image to all jurors", "Each image to 1 juror", "Each image to 2 jurors")(x))),
                                '_label -> "", '_help -> "")
                            </td>
                            <td>
                            @select(editRoundForm("rates"), Round.rates.map(x => (x.id.toString, x.name)), '_label -> "", '_help -> "", 'class -> "input-small")
                            </td>
<!--                            <td>
                            @select(editRoundForm("limitMin"), (1 to 50).map(x => (x.toString, x.toString)), '_label -> "", '_help -> "", 'class -> "input-small")
                            </td>
                            <td>
                            @select(editRoundForm("limitMax"), (1 to 50).map(x => (x.toString, x.toString)), '_label -> "", '_help -> "", 'class -> "input-small")
                            </td>
                            <td>
                            @select(editRoundForm("recommended"), (1 to 50).map(x => (x.toString, x.toString)), '_label -> "", '_help -> "", 'class -> "input-small")
                            </td>  -->
                            <td></td>
                            <td></td>
                        </tr>
                    }
                </tbody>

            </table>

        </div>
    }


