@import db.scalikejdbc.ContestJury
@import controllers.SelectRound
@import db.scalikejdbc.Round
@import db.scalikejdbc.User
@(
        adminUser: User,
        rounds: Seq[Round],
        roundsStat: Map[Long, RateDistribution],
        editRoundForm: Form[controllers.EditRound],
        editImagesForm: Form[Option[String]],
        selectRoundForm: Form[SelectRound],
        round: Option[Round],
        contest: ContestJury
)(implicit flash: Flash, lang: Lang, messages: Messages, req: RequestHeader)

    @mainAdmin(Messages("rounds"), adminUser, adminUser.getId,
        rounds = rounds, selectedRound = round, contestId = contest.id) {
        <div class="row" >
            <h3>@Messages("campaign") @contest.fullName</h3>

            @if(rounds.nonEmpty) {
                <table class="table table-striped table-condensed" style="background-color: #CCCCCC ;">

                    <thead>
                        <tr>
                            <th width="10%">@Messages("number") </th>
                            <th width="10%">@Messages("name") </th>
                                <!--  <th width="10%">@Messages("Jury role") </th> -->
                            <th width="10%">@Messages("image.distribution") </th>
                            <th width="10%">@Messages("rating.type") </th>
                                <!--                        <th width="10%">@Messages("Min selected") </th>
                            <th width="10%">@Messages("Max selected") </th>
                            <th width="10%">@Messages("Recommended selected") </th> -->
                            <th width="10%">@Messages("active")</th>
                            <th width="10%">@Messages("images")</th>
                            <th width="10%">@Messages("selected.rated")</th>
                        </tr>
                    </thead>

                    <tbody>

                    @for(round <- rounds) {
                        <tr>
                            <td> <a href="@routes.RoundsController.editRound(id = round.id, contestId = contest.getId)">@round.number</a> </td>
                            <td> @round.name </td>
                                <!--                            <td>              @round.roles.mkString(",") </td> -->
                            <td>@Option(round.distribution).filter(_ != 0).fold(Messages("each.image.to.all.jurors"))(i => Messages("each.image.to.i.juror.s", i))</td>
                            <td>@if(round.rates.id == 1) { @round.rates.name } else { @Messages("1-x.rating", round.rates.id) } </td>
                                <!--                            <td>              @round.limitMin </td>
                            <td>@round.limitMax </td>
                            <td>@round.recommended.fold("")(_.toString) </td> -->
                            <td>@snippets.startStop(round.active, round.getId, contest.getId, routes.RoundsController.setRound)</td>
                            <td>@roundsStat.get(round.getId).map(_.all).getOrElse(0) </td>
                            <td>@roundsStat.get(round.getId).map(_.positive).getOrElse(0) </td>
                        </tr>
                    }
                    </tbody>

                </table>
            </div>
    }

        <div class="row" >
            <div class="control-group">
                <a href="@routes.RoundsController.editRound(id = None, contestId = contest.getId)">
                    <div class="btn btn-primary" onClick="document.forms['add-user'].submit();">@Messages("add.round")</div>
                </a>

            </div>

        </div>
    }


