@import org.intracer.wmua.ContestJury
@(
        adminUser: org.intracer.wmua.User,
        rounds: Seq[org.intracer.wmua.Round],
        editRoundForm: Form[controllers.EditRound],
        editImagesForm: Form[Option[String]],
        selectRoundForm: Form[Option[String]],
        round: Option[org.intracer.wmua.Round],
        contest: ContestJury
)(implicit flash: Flash, lang: Lang, messages: Messages)
    @import helper._
    @import db.scalikejdbc.SelectionJdbc

    @mainAdmin(Messages("rounds"), adminUser, adminUser.id.get,
        currentRounds = round.toSeq, selectedRound = round, contestId = contest.id) {
        <div class="row" >
            <h3>@Messages("Contest: " + contest.fullName)</h3>

            @if(rounds.size > 1) {
                @form(routes.Rounds.setRound(), 'class -> "form-inline", 'id -> "set-round", 'role -> "form") {
                    <div class="form-group">
                    @select(selectRoundForm("currentRound"), rounds.map(r => (r.id.map(_.toString).get, r.description)),
                        '_label -> "Current round", '_help -> "", 'class -> "form-control")
                    </div>

                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="@Messages("Set current round")">
                    </div>
                }
            }

            @if(rounds.nonEmpty) {
                <table class="table table-striped table-condensed" style="background-color: #CCCCCC ;">

                    <thead>
                        <tr>
                            <th width="10%">@Messages("Number") </th>
                            <th width="10%">@Messages("Name") </th>
                                <!--  <th width="10%">@Messages("Jury role") </th> -->
                            <th width="10%">@Messages("Image distribution") </th>
                            <th width="10%">@Messages("Selection type") </th>
                                <!--                        <th width="10%">@Messages("Min selected") </th>
                            <th width="10%">@Messages("Max selected") </th>
                            <th width="10%">@Messages("Recommended selected") </th> -->
                            <th width="10%">@Messages("Images")</th>
                            <th width="10%">@Messages("Selected")</th>
                        </tr>
                    </thead>

                    <tbody>

                    @for(round <- rounds) {
                        <tr>
                            <td> <a href="@routes.Rounds.editRound(id = round.id, contestId = contest.id.get)">@round.number</a> </td>
                            <td> @round.name </td>
                                <!--                            <td>              @round.roles.mkString(",") </td> -->
                            <td>@((Seq("Each image to all jurors") ++ (1 to 4).map(i => s"Each image to $i juror(s)")).apply(round.distribution)) </td>
                            <td>@round.rates.name </td>
                                <!--                            <td>              @round.limitMin </td>
                            <td>@round.limitMax </td>
                            <td>@round.recommended.fold("")(_.toString) </td> -->
                            <td>@round.allImages.size </td>
                            <td>@SelectionJdbc.byRoundSelected(round.id.get).filter(_.rate > 0).groupBy(_.pageId).size </td>
                        </tr>
                    }
                    </tbody>

                </table>
            </div>
    }

        <div class="row" >
            <div class="control-group">
                <a href="@routes.Rounds.editRound(id = None, contestId = contest.id.get)">
                    <div class="btn btn-primary" onClick="document.forms['add-user'].submit();">@Messages("Add round")</div>
                </a>

            </div>

        </div>
    }


