@(
        user: org.intracer.wmua.User,
        files: Seq[org.intracer.wmua.Image],
        selected: scala.collection.mutable.SortedSet[org.intracer.wmua.Image],
        page: Int)(
        implicit flash: Flash, lang: Lang)

    @main(Messages("gallery"), user, 0) {
    <div class="row-fluid" >

        <ul class="gallery mw-gallery-traditional">

            @for((file, index) <- files.view.zipWithIndex) {
                <li class="gallerybox">
                    <h1 id="@index" style="display: inline; width: 1px; height: 1px"></h1>

                    <div class="thumb @if(selected.contains(file)){selected}">
                        <a href="/largeSelected/@index" width="300" height="200">
                            <img class="cropped" alt="@file" src="@controllers.Global.galleryUrls.getOrElse(file.title, Gallery.UrlInProgress)">
                        </a>
                    </div>

                </li>
            }

        </ul>

    </div>
    }