@(signUpForm: Form[(String, String, String)])(implicit flash: Flash, messages: Messages, req: RequestHeader)
    @import b3.inline.fieldConstructor
@mainAdmin(Messages("application.name")) {

<fieldset class="col-md-6 col-md-offset-3">

    <legend>@Messages("signup.signup")</legend>

    @b3.vertical.form(action = routes.LoginController.signUp()) { implicit vfc =>

        @if(signUpForm.hasGlobalErrors) {
            <div class="alert alert-danger" role="alert">
            @Messages(signUpForm.errors.head.message)
            </div>
        }

        @b3.text(signUpForm("login"), '_hiddenLabel -> Messages("signin.your.login"), 'placeholder -> Messages("login"), 'class -> "form-control input-lg")
        @b3.password(signUpForm("password"), '_hiddenLabel -> Messages("signin.your.password"), 'placeholder -> Messages("signin.your.password"), 'class -> "form-control input-lg")
        @b3.password(signUpForm("repeat.password"), '_hiddenLabel -> Messages("signin.repeat.your.password"), 'placeholder -> Messages("signin.your.password"), 'class -> "form-control input-lg")
        @helper.CSRF.formField

        <div class="form-group">
            <div>
                <button id="submit" type="submit" value="submit" class="btn btn-lg btn-primary btn-block">@Messages("signup.signup")</button>
            </div>
        </div>
    }

    @if(false) {
    <div>
        <p class="not-a-member">@Messages("not.a.member") <a href="">@Messages("sign.up.now")</a>
            | <a href="" title="@Messages("forgot.your.password")">@Messages("forgot.your.password")</a></p>
    </div>

    <div class="social-providers">
        <p>@Messages("or.use.social")</p>

        <a href="" class="provider mediawiki" title="MediaWiki"><img src="@routes.Assets.at(s"images/MediaWiki_logo_1.svg.png")" width="64px" height="64px" alt="MediaWiki"></a>
    </div>
    }

</fieldset>
}