@import org.intracer.wmua.ContestJury
@import scala.reflect.macros.whitebox
@(
        adminUser: org.intracer.wmua.User,
        users: Seq[org.intracer.wmua.User],
        editUserForm: Form[org.intracer.wmua.User],
        contest: ContestJury)(implicit flash: Flash, lang: Lang, messages: Messages, req: RequestHeader)
    @import helper._
    @import views.html.bootstrap._

    @mainAdmin(Messages("users"), adminUser, adminUser.getId, contestId = contest.id) {
        <div class="row" >
            <h3>@Messages("contest") @contest.fullName</h3>

            <div style="margin-bottom: 10px">
                <a href="@routes.Admin.importUsers(contest.id)" style="margin-right: 5px">
                    <div class="btn btn-primary">@Messages("mass.import")</div>
                </a>
                <a href="@routes.Admin.editGreeting(contest.id)">
                    <div class="btn btn-primary">@Messages("edit.greeting.message")</div>
                </a>
            </div>


            <table class="table table-striped table-condensed" style="background-color: #CCCCCC ;">

                <thead>
                    <tr>
                        <th width="5%">@Messages("N")</th>
                        <th>@Messages("full.name")</th>
                        <th>@Messages("wiki.account")</th>
                        <th>@Messages("email")</th>
                        <th>@Messages("role")</th>
                        <th>@Messages("edit")</th>
                    </tr>
                </thead>

                <tbody>

                    @for((user, index) <- users.zipWithIndex) {
                        <tr>
                            <td> @{index + 1} </td>
                            <td> @user.fullname </td>
                            <td>

                                @if(user.accountValid) {
                                    <a href="https://commons.wikimedia.org/w/index.php?title=User_talk:@user.wikiAccount&action=edit&section=new&preload=&preloadtitle=@contest.name%20Jury">
                                        <button type="button" class="btn btn-default btn-xs">
                                            <i class="fa fa-commenting" aria-hidden="true"></i>
                                        </button>

                                    <a href= @if(user.hasWikiEmail) {
                                            "https://commons.wikimedia.org/wiki/Special:EmailUser/@user.wikiAccount?wpSubject=@contest.name%20Jury&wpText=Hi%20@user.wikiAccount,%0ARegards,%20@adminUser.fullname"
                                        } else {
                                            "https://commons.wikimedia.org/w/index.php?title=User_talk:@user.wikiAccount&action=edit&section=new&preload=User:Ilya/enableEmailText&preloadtitle=Please%20enable%20wiki%20email"
                                        } >
                                        <button type="button" class="btn btn-default btn-xs">
                                            <i class="fa fa-envelope-o" @if(!user.hasWikiEmail){style="color: red"} aria-hidden="true"></i>
                                        </button>
                                    </a>
                                }

                                <a href="https://commons.wikimedia.org/wiki/User:@user.wikiAccount" @if(!user.accountValid){style="color: red"}>
                                    @user.wikiAccount
                                </a>
                            </td>
                            <td>
                                @user.email
                            </td>
                            <td>@user.roles.filterNot(_.startsWith("USER_ID")).map(r => Messages(r)).mkString(", ") </td>
                            <td>
                                <a href="/users/edit/@user.id">
                                    <button type="button" class="btn btn-default btn-xs">
                                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                    </button>
                                </a>
                            </td>
                        </tr>
                    }

                    @form(routes.Admin.saveUser, 'class -> "form-vertical", 'id -> "add-user") {
                        @helper.CSRF.formField
                        <tr>
                            @if(editUserForm.hasGlobalErrors) {
                                <p class="error">
                                    <span class="label important">@Messages(editUserForm.errors.head.message)</span>
                                </p>
                            }

                            <td></td>
                            <td>
                                <input type="hidden" name="id" id="id" value="0" />
                                <input type="hidden" name="contest" id="contest" value="@contest.id" />

                                @text(editUserForm("fullname"), Messages("full.name"))
                            </td>
                            <td>
                                @text(editUserForm("wikiAccount"), Messages("wiki.account"))
                            </td>
                            <td>
                                @text(editUserForm("email"), Messages("email"))
                            </td>
                            <td>
                            @select(
                                editUserForm("roles"),
                                Seq("no", "jury", "organizer", "admin").map(x => (x, Messages(x))),
                                '_label -> Messages("role"), '_help -> "", 'class -> "form-control")
                            </td>
                            <td>
                                <div class="btn btn-primary" onClick="document.forms['add-user'].submit();" style="margin-top: 10px">
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/5/5a/Farm-Fresh_group_add.png">
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    }


