@(
        objectId: Long,
        rate: Option[Int],
        region: String = "all",
        round: org.intracer.wmua.Round,
        module : String = "gallery",
        comments: Seq[org.intracer.wmua.Comment])(
        implicit flash: Flash, lang: Lang, request: play.api.mvc.Request[Any], messages: Messages)
@import helper._

@if(round.active || comments.nonEmpty) {
    <div style="margin-right: 5px; margin-top: 10px; padding: 5px;">
        <div id="comments" name="comments" class="comment-header msg">
            <strong>@Messages("Comments")</strong>
        </div>
        @for(msg <- comments) {
            <div class="msg">
                <strong>@msg.username: </strong> @msg.body <br/>
            </div>
        }
        @if(round.active) {
            <div>
            @form(routes.ImageDiscussion.addComment(objectId, region, rate, module, Some(round.id.get)), 'class -> "form-vertical", 'id -> "addComment") {
                <input type="hidden" name="id" id="id" value="0" />
                <textarea class="imageComment" id="text" name="text" rows="3" placeholder="@Messages("Your comment here")"></textarea>
                <input type="button" class="btn btn-primary" id="saySomething" value="Submit" onClick="document.forms[ 'addComment' ].submit ( ) ;" />
            }
            </div>
        }

    </div>
}
