@import controllers.Global
@import org.intracer.wmua.User
@import org.intracer.wmua.Selection
@import org.intracer.wmua.Comment
@import org.scalawiki.wlx.dto.Monument
@import db.scalikejdbc.Round
@(
        user: org.intracer.wmua.User,
        asUserId: Long,
        files: Seq[org.intracer.wmua.ImageWithRating],
        index: Int,
        start: Int,
        end: Int,
        page: Int,
        rate: Option[Int],
        region: String = "all",
        round: Round,
        monument: Option[Monument],
        module : String = "gallery",
        comments: Seq[Comment],
        selection: Seq[(Selection, User)],
        byCriteria: Map[Int, Int] = Map.empty)(
        implicit flash: Flash, lang: Lang, request: Request[Any], messages: Messages)

    @main_large(module,
    user,
    asUserId,
    files(index).totalRate(round) / (if (round.rates.id > 5 && !round.halfStar.contains(false)) 2.0 else 1.0),
    s"/large/round/${round.getId}/region/$region/pageid/${files(index).pageId}/select/",
    readOnly = !user.roles.contains("jury") || !round.active || user.getId != asUserId,
    files = files,
    index = index,
    page = page,
    region = region,
    round = round,
    rate = rate,
    module = module,
    preload = files.view.slice(start, end),
        byCriteria = byCriteria) {
        <div class="container-fluid" style="padding-left:5px; margin-left:0px; margin-right:0px; height:100%">
            <div class="row" style="height:100%">
                <div class="col-xs-1" style="margin-left:0px; min-width: 220px">

                    @navigationButtons(user, asUserId, files, index, page, rate, region, round, module)
                    @thumbsBar(user, asUserId, files, index, start, end, rate, region, round, module)

                    @monumentInfo(files(index).image, monument)
                    @fullSizeUrl(files(index).image, round)
                    @juryStat(selection, round, module, region)

               </div>

               <div id="mainContent" class="col-xs-10"  style="margin-left:5px; margin-top: 10px; height:100%">

                    <a href="https://commons.wikimedia.org/wiki/@files(index).title" target="_blank">
                        <img id="large_image" alt="@files(index).title"
                        src="@Global.resizeTo(files(index).image, Global.largeSizeX, Global.largeSizeY)" style="max-width:100%; max-height:100%;"
                        srcset="@Global.srcSet(files(index).image, Global.largeSizeX, Global.largeSizeX)">
                    </a>

                    @commentsView(files(index).pageId, rate, region, round, module, comments)

                </div>
        </div>
    </div>
    }