@(
        title: String,
        user: org.intracer.wmua.User = null,
        asUserId: Int,
        score: Double,
        url: String,
        readOnly: Boolean = false,
        files: Seq[org.intracer.wmua.ImageWithRating],
        index: Int,
        page: Int,
        rate: Option[Int],
        region: String = "all",
        round: org.intracer.wmua.Round,
        module: String = "byrate",
        preload: Iterable[org.intracer.wmua.ImageWithRating] = Seq.empty)(content: Html)(implicit lang: Lang, request: play.api.mvc.Request[Any])

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <meta charset="UTF-8">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
        <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script src="@routes.Assets.at("javascripts/checkwidth.js")"></script>

        @raty(score, url, readOnly, round, rate, module)
        @keyboardNav(user, asUserId, files, index, page, rate, region, round, module)

        @preloadImages(preload)

    </head>
    <body class="gallery">

        @content

    </body>
</html>
