@(image: org.intracer.wmua.Image, monument: Option[client.wlx.dto.Monument])(implicit flash: Flash, lang: Lang, request: play.api.mvc.Request[Any])
@import client.wlx.dto.Monument

@for(m <- monument) {
    <div class="well" style="margin-right: 5px; margin-top: 10px; padding: 5px;">
        @Messages(image.region.getOrElse("../../../public")), @Html(Monument.wikiLinkToUrl(m.city.getOrElse("../../../public"), "uk.wikipedia.org")) <br>
        <!--                        @Html(m.typ.getOrElse("../../../public") + " " + m.subType.getOrElse("../../../public")) <br> -->
        @Html(Monument.wikiLinkToUrl(m.name, "uk.wikipedia.org")) <br>
        @Html(Monument.wikiLinkToUrl(m.place.getOrElse("../../../public"), "uk.wikipedia.org"))

        @if(false){  <a href="@routes.Monuments.byId(m.id)"><i class="icon-forward"></i></a> }

    </div>


}
