@(
        user: org.intracer.wmua.User,
        asUserId: Long,
        files: Seq[org.intracer.wmua.ImageWithRating],
        index: Int,
        page: Int,
        rate: Option[Int],
        region: String = "all",
        round: org.intracer.wmua.Round,
        module : String = "gallery")(
        implicit flash: Flash, lang: Lang, request: play.api.mvc.Request[Any], messages: Messages)

@button(btnClass: String, iconClass: String) = {
    <button type="button" class="btn btn-default btn-sm active @btnClass">
        <span class="glyphicon glyphicon-@iconClass" aria-hidden="true"></span>
    </button>
    }

@buttonWithImage(btnClass: String, image:String) = { <div class="@btnClass"><img src="@routes.Assets.at(s"images/$image")"></div> }

@optionalButton(condition: () => Boolean, link: ()=> String, icon: String, clazz: String, title: String = "") = {
    @if(condition()) {
        <a role="button" class="btn btn-default btn-sm active @clazz" href="@link.apply()" title="@Html(title)">
            <span class="glyphicon glyphicon-@icon" aria-hidden="true"></span>
        </a>
    } else {
        <a role="button" class="btn btn-default btn-sm active disabled @clazz" href="#" title="@Html(title)">
            <span class="glyphicon glyphicon-@icon" aria-hidden="true"></span>
        </a>
    }
}

@buttonGallery() = {
    <a role="button" class="btn btn-default btn-sm active" href="/@module/round/@round.id/user/@asUserId/region/@region/pageid/@files(index).pageId@rateParam(rate)#@files(index).pageId" title="@Messages("back.to.gallery") &lt;Esc&gt;">
        <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
    </a>
}

@buttonUp() = {
    @optionalButton(() => index > 0,
        () => routes.Gallery.large(asUserId, files(index-1).pageId, region, round.id.get, rate, module).absoluteURL(false)(request),
        "chevron-up", "", s"${Messages("previous.image")} &lt;${Messages("up.key")}&gt;")
}

@buttonDown() = {
    @optionalButton(() => index < files.size-1, () => routes.Gallery.large(asUserId, files(index+1).pageId, region, round.id.get, rate, module).absoluteURL(false)(request),
        "chevron-down", "", s"${Messages("next.image")} &lt;${Messages("down.key")}&gt;")
}

@buttonSelect() = {
    @if(files(index).rate <=0 ) {
        <a role="button" class="btn btn-default btn-sm active btn-success" href="/large/round/@round.id.get/region/@region/pageid/@files(index).pageId/select/1@{rateParam(rate)}" title="@Messages("select.image") &lt;Space&gt;">
            <span class="glyphicon glyphicon-thumbs-up icon-white" aria-hidden="true"></span>
        </a>
    }
    @if(files(index).rate >=0 ) {
        <a role="button" class="btn btn-default btn-sm active btn-danger" href="/large/round/@round.id.get/region/@region/pageid/@files(index).pageId/select/-1@{rateParam(rate)}" title="@Messages("reject.image") &lt;Delete&gt;">
            <span class="glyphicon glyphicon-thumbs-down icon-white" aria-hidden="true"></span>
        </a>
    }
}

@buttonStar() = {
    @if(files(index).rate <= 0 ) {
        <a href="/large/round/@round.id.get/region/@region/pageid/@files(index).pageId/select/1@{rateParam(rate)}">
        @buttonWithImage("btn btn-small", "star-off.png")
        </a>
    }
    @if(files(index).rate > 0 ) {
        <a href="/large/round/@round.id.get/region/@region/pageid/@files(index).pageId/select/0@{rateParam(rate)}">
        @buttonWithImage("btn btn-small", "star-on.png")
        </a>
    }
}

<div class="btn-group" role="group" style="margin:10px;">
    @buttonGallery()
    @buttonUp()
    @buttonDown()

    @if(round.isBinary) {
        @if(user.id.get == asUserId && round.active && user.roles.contains("jury")) {
            @buttonSelect()
        } else {
                <!--  @buttonStar() -->
        }
    </div>
    } else {
        </div>
    @if(round.hasCriteria) {
        <div style="color: white">Науковість</div>
        <div id="rate-image1" style="margin-top:10px ;"></div>

        <div style="color: white">Підпис</div>
        <div id="rate-image2" style="margin-top:10px ;"></div>

        <div style="color: white">Корисність</div>
        <div id="rate-image3" style="margin-top:10px ;"></div>

        <div style="color: white">Естетика</div>
        <div id="rate-image4" style="margin-top:10px ;"></div>
    } else {
        <div id="rate-image" style="margin-top:10px ;"></div>
            <!-- <input type="text" id="scoretarget"/> -->
    }
    }

