@import db.scalikejdbc.Round
@(      score: Double,
        url: String,
        readOnly: Boolean = false,
        round: Round,
        rate: Option[Int],
        module: String = "byrate",
        byCriteria: Map[Int, Int] = Map.empty
)(implicit messages: Messages)

@if(!round.isBinary) {

    <script src="@routes.Assets.at("javascripts/jquery.raty.js")"></script>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/jquery.raty.css")">

    <script>
    $(document).ready(function() {
        $.fn.raty.defaults.path = '@routes.Assets.at("images")';

        @defining(if(round.rates.id <= 10) "-big.png" else ".png"){ sizeSuffix =>

        @defining(if(round.rates.id <= 5 || round.halfStar.contains(false)) 1 else 2) { k =>

            $('#rate-image').raty({
                score: @score,
                half: @(k == 2),
                cancel: true,
                starHalf: 'star-half@sizeSuffix ',
                starOff: 'star-off@sizeSuffix ',
                starOn: 'star-on@sizeSuffix ',
                cancelOff: 'cancel-off@sizeSuffix ',
                cancelOn: 'cancel-on@sizeSuffix ',
                number: @(round.rates.id / k),
                precision: false,
                space: false,
                hints:[ '', '', '', '', '', '', '', '', '', '' ],
                @if(readOnly) {
                    readOnly : 'true'
                } else {
                    click : function(score, evt) {
                        document.location.href = '@url' + Math.round(score*@k) + '?module=@module@rateParam(rate, "", "&")';
                        return false;
                    }
                }
            });

    @if(round.hasCriteria) {

        $('#rate-image1').raty({
            score: @{byCriteria.getOrElse(1, 0)/k},
            half: @(k == 2),
            cancel: true,
            starHalf: 'star-half@sizeSuffix ',
            starOff: 'star-off@sizeSuffix ',
            starOn: 'star-on@sizeSuffix ',
            cancelOff: 'cancel-off@sizeSuffix ',
            cancelOn: 'cancel-on@sizeSuffix ',
            number: @(round.rates.id / k),
            precision: false,
            space: false,
            hints:[ '', '', '', '', '', '', '', '', '', '' ],
            @if(readOnly) {
            readOnly : 'true'
            } else {
            click : function(score, evt) {
                document.location.href = '@url' + Math.round(score*@k) + '?module=@module@rateParam(rate, "", "&", Some(6))';
                return false;
            }
            }
        });

        $('#rate-image2').raty({
            score: @{byCriteria.getOrElse(2, 0)/k},
            half: @(k == 2),
            cancel: true,
            starHalf: 'star-half@sizeSuffix ',
            starOff: 'star-off@sizeSuffix ',
            starOn: 'star-on@sizeSuffix ',
            cancelOff: 'cancel-off@sizeSuffix ',
            cancelOn: 'cancel-on@sizeSuffix ',
            number: @(round.rates.id / k),
            precision: false,
            space: false,
            hints:[ '', '', '', '', '', '', '', '', '', '' ],
            @if(readOnly) {
            readOnly : 'true'
            } else {
            click : function(score, evt) {
                document.location.href = '@url' + Math.round(score*@k) + '?module=@module@rateParam(rate, "", "&", Some(7))';
                return false;
            }
            }
        });

        $('#rate-image3').raty({
            score: @{byCriteria.getOrElse(3, 0)/k},
            half: @(k == 2),
            cancel: true,
            starHalf: 'star-half@sizeSuffix ',
            starOff: 'star-off@sizeSuffix ',
            starOn: 'star-on@sizeSuffix ',
            cancelOff: 'cancel-off@sizeSuffix ',
            cancelOn: 'cancel-on@sizeSuffix ',
            number: @(round.rates.id / k),
            precision: false,
            space: false,
            hints:[ '', '', '', '', '', '', '', '', '', '' ],
            @if(readOnly) {
            readOnly : 'true'
            } else {
            click : function(score, evt) {
                document.location.href = '@url' + Math.round(score*@k) + '?module=@module@rateParam(rate, "", "&", Some(8))';
                return false;
            }
            }
        });

        $('#rate-image4').raty({
            score: @{byCriteria.getOrElse(4, 0)/k},
            half: @(k == 2),
            cancel: true,
            starHalf: 'star-half@sizeSuffix ',
            starOff: 'star-off@sizeSuffix ',
            starOn: 'star-on@sizeSuffix ',
            cancelOff: 'cancel-off@sizeSuffix ',
            cancelOn: 'cancel-on@sizeSuffix ',
            number: @(round.rates.id / k),
            precision: false,
            space: false,
            hints:[ '', '', '', '', '', '', '', '', '', '' ],
            @if(readOnly) {
            readOnly : 'true'
            } else {
            click : function(score, evt) {
                document.location.href = '@url' + Math.round(score*@k) + '?module=@module@rateParam(rate, "", "&", Some(9))';
                return false;
            }
            }
        });
        }


        }
        }
    })
    </script>
}