@import controllers.Global
@import db.scalikejdbc.Round
@import db.scalikejdbc.User
@import org.intracer.wmua.ImageWithRating
@(
        user: User,
        asUserId: Long,
        files: Seq[ImageWithRating],
        index: Int,
        start: Int,
        end: Int,
        rate: Option[Int],
        region: String = "all",
        round: Round,
        module : String = "gallery")(
        implicit flash: Flash, lang: Lang, request: Request[Any], messages: Messages)

@thumbSmall(style:String) = {
    <div class="@style">
}

<ul class="gallery mw-gallery-traditional">
@for((file, i) <- files.view.zipWithIndex.slice(start, end)) {
    <li class="gallerybox">

    @thumbSmall(if(i == index) "thumb_small current" else "thumb_small")
        <div style="margin:5px auto;">
            <a href="@routes.LargeView.large(asUserId, file.pageId, region, round.getId, rate, module)">
                <img class="cropped" alt="@file.title"
                src="@Global.resizeTo(file.image, Global.thumbSizeX, Global.thumbSizeY)"
                srcset="@Global.srcSet(file.image, Global.thumbSizeX, Global.thumbSizeY)">
            </a>
        </div>
    </div>
    </li>
}
</ul>
